---
import { Image } from 'astro:assets'

const { src, alt } = Astro.props
---

<a href='https://bit.ly/paquetesiwd2024' target='_blank'>
  <Image
    class='bg-white col-span-1 rounded-lg md:rounded-2xl border-black border-2 border-r-4 hover:border-r-[6px] pr-[2px] hover:pr-0'
    src={src}
    alt={alt}
  />
</a>
