---
import SectionTitle from '../SectionTitle.astro';
import frequentQuestions from '../../data/frequentQuestions.json';
import FrequentQuestionsAccordion from './FrequentQuestionsAccordion';
---

<SectionTitle id="faq" title="Preguntas frecuentes" />
<div class="mx-auto my-2 max-w-screen-lg px-4 md:my-8">
  <div class="grid gap-4 mt-2 sm:grid-cols-1 md:grid-cols-2">
    {/* Primera columna */}
    <div class="flex flex-col gap-4">
      {frequentQuestions
        .filter((_, index) => index % 2 === 0)
        .map((data, index) => (
          <FrequentQuestionsAccordion id={index} {...data} client:visible />
        ))}
    </div>

    {/* Segunda columna */}
    <div class="flex flex-col gap-4">
      {frequentQuestions
        .filter((_, index) => index % 2 !== 0)
        .map((data, index) => (
          <FrequentQuestionsAccordion id={index} {...data} client:visible />
        ))}
    </div>
  </div>
</div>


