---
import SectionTitle from '../SectionTitle.astro'
import Organizer from './Organizer'
---

<div class='mx-auto py-8 md:py-12'>
  <SectionTitle id='organizadores' title='Organizadores' />
  <Organizer client:idle />
</div>
