---
import SectionTitle from '../SectionTitle.astro'
import Organizer from './Organizer'
---

<div class='mx-auto py-4 sm:py-8'>
  <SectionTitle id='organizadores' title='Organizadores' />
  <Organizer client:idle />
</div>
