---
import { OrganizerCard } from '../../components/organizers/OrganizerCard';
import SectionTitle from '../SectionTitle.astro';
import organizersData from '../../data/organizers.json';
---

<SectionTitle id='organizadores' title='Organizadores' />
<div class="max-w-screen-lg mx-auto px-2 sm:px-4 py-4 sm:py-8">
  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-6 lg:gap-8">
    {
      organizersData
        .sort((a, b) => b.type - a.type)
        .map((organizerProps, i) => (
          <div class="flex justify-center">
            <OrganizerCard client:visible id={i.toString()} {...organizerProps} />
          </div>
        ))
    }
  </div>
</div>