---
import { Timer } from './Timer'

import CalendarLogo from '../../assets/icons/Calendar.astro'

import Logo from './Logo.astro'
import RegisterButton from './RegisterButton.astro'
import LocationMarker from 'src/assets/icons/LocationMarker.astro'

const targetDate = new Date('2025-03-15T14:00:00-04:00')

const getRemainingTime = () => {
  const currentDate = Date.now()
  return targetDate.getTime() - currentDate
}

const hasSessionCookie = Astro.cookies.has('__session')
---

<hero>
  <section class='mb-4 flex flex-col items-center px-4 pt-28 lg:pt-40'>
    <p class='text-4xl font-bold'>International Women's Day 2025</p>

    <div
      class='bg-golden relative m-8 rounded-full border-2 border-black text-xl font-semibold text-black shadow-[4px_4px_0px_0px_#726239] transition-all duration-150 active:translate-x-1 active:translate-y-1 active:shadow-none'
    >
      {
        hasSessionCookie ? (
          <a href='/registro' class='block px-6 py-3'>
            Ver registro
          </a>
        ) : (
          <RegisterButton />
        )
      }
    </div>

    <div>
      <Timer initialTime={getRemainingTime()} targetDate={targetDate} client:load />
    </div>
  </section>
</hero>
