---
import DevfestLogo from '../logos/DevfestLogo.astro'
import { Timer } from '../Timer'
---

<hero>
  <section class='my-20 mx-4'>
    <img src='./WTM_IWD_2024_Sticker.gif' alt='' />

    <!-- <div class='mx-auto max-w-screen-md lg:py-16'>
      <div class='flex flex-col mx-auto'>
        <a
          href='https://gdg.community.dev/events/details/google-gdg-sucre-presents-international-womens-day-sucre-2024/'
          class='inline-flex justify-center items-center py-2 px-6 mx-auto text-2xl font-medium text-center border bg-blue focus:ring-4 text-white border-gray-700 hover:bg-yellow hover:text-black focus:ring-gray-800'
          target='_blank'
        >
          Regístrate
        </a>
      </div>
    </div> -->

    <div
      class='pt-10 lg:pt-0 flex items-center justify-center flex-col text-center gap-y-4 sm:gap-y-8 text-black'
    >
      <Timer targetDate={new Date('2024-03-16T14:00:00-04:00')} client:load />
    </div>
  </section>
</hero>
