---
import DevfestLogo from '../logos/DevfestLogo.astro'
import { Timer } from '../Timer'
import AnimatedArrow from './AnimatedArrow.astro'
import AnimatedCup from './AnimatedCup.astro';
import AnimatedPeople from './AnimatedPeople.astro';
import AnimatedPhone from './AnimatedPhone.astro';
import AnimatedPlanet from './AnimatedPlanet.astro';
---

<hero>
  <section class='bg-black mt-32 mx-4'>
    <div class='mx-auto max-w-screen-md lg:py-16'>
      <div class='grid place-content-center'>
        <DevfestLogo />

        <div class='flex'>
          <AnimatedArrow />
          <AnimatedCup />
          <AnimatedPeople />
          <AnimatedPhone />
          <AnimatedPlanet />

          <span
            class='ml-auto mr-4 text-2xl font-thin tracking-tight leading-none -mt-2 sm:-mt-4 lg:text-4xl lg:-mt-8 text-white text-right'
          >
            Sucre 2023
          </span>
        </div>
      </div>

      <div class='flex flex-col mx-auto'>
        <a
          href='https://gdg.community.dev/events/details/google-gdg-sucre-presents-devfest-sucre-2023/'
          class='inline-flex justify-center items-center py-2 px-6 mx-auto text-2xl font-medium text-center border bg-blue focus:ring-4 text-white border-gray-700 hover:bg-gray-700 focus:ring-gray-800'
          target='_blank'
        >
          Regístrate
        </a>
        <!-- <a
          href='https://play.google.com/store/apps/details?id=dev.armandohackcode.app_events'
          class='inline-flex justify-center items-center py-3 px-4 text-md font-medium text-center rounded-full border border-green focus:ring-4 text-green hover:bg-green hover:text-black focus:ring-blue fill-green hover:fill-black'
          target='_blank'
        >
          <svg
            class='w-5 h-5 mr-2'
            viewBox='-1 0 24 24'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='m3.751.61 13.124 7.546-2.813 2.813zm-2.719-.61 12.047 12-12.046 12c-.613-.271-1.033-.874-1.033-1.575 0-.023 0-.046.001-.068v.003-20.719c-.001-.019-.001-.042-.001-.065 0-.701.42-1.304 1.022-1.571l.011-.004zm19.922 10.594c.414.307.679.795.679 1.344 0 .022 0 .043-.001.065v-.003c.004.043.007.094.007.145 0 .516-.25.974-.636 1.258l-.004.003-2.813 1.593-3.046-2.999 3.047-3.047zm-17.203 12.796 10.312-10.359 2.813 2.813z'
            ></path>
          </svg>
          Descarga la app oficial del evento
        </a> -->
      </div>
    </div>
    <div
      class='py-12 flex items-center justify-center flex-col text-center gap-y-4 sm:gap-y-8 text-white'
    >
      <Timer targetDate={new Date('2023-12-09T09:00:00-04:00')} client:load />
    </div>
  </section>
</hero>
