---
import { Timer } from './Timer'

import CalendarLogo from '../../assets/icons/Calendar.astro'

import Logo from './Logo.astro'
import RegisterButton from './RegisterButton.astro'

const targetDate = new Date('2024-11-16T08:30:00-04:00')

const getRemainingTime = () => {
  const currentDate = Date.now()
  return targetDate.getTime() - currentDate
}

const hasSessionCookie = Astro.cookies.has('__session')
---

<hero>
  <section class='mb-12 flex flex-col items-center space-y-4 pt-32 md:space-y-6 lg:pt-40'>
    <Logo class='w-auto sm:h-24' />
    <h2 class='text-center text-2xl font-medium md:text-4xl'>Sucre 2024</h2>

    {
      hasSessionCookie
        ? (
          <a
            href='/registro'
            class='w-fit border-2 bg-gray px-8 py-2 text-center text-xl transition-all hover:bg-yellow dark:bg-black dark:hover:bg-blue md:text-3xl lg:py-3'
          >
          Ver registro
          </a>
        )
        : (
          <RegisterButton />
        )
    }

    <div class='pt-4 text-xl font-medium leading-8 md:text-2xl md:leading-10'>
      <div class='flex items-start'>
        <CalendarLogo class='m-2' />
        <div>
          <span class='block'>Sábado 16 de noviembre</span>
          <span class='block'>08:30 hrs.</span>
        </div>
      </div>
    </div>

    <div>
      <Timer initialTime={getRemainingTime()} targetDate={targetDate} client:load />
    </div>
  </section>
</hero>
