---
import { Timer } from '../Timer'
---

<hero>
  <section class='my-20 mx-4'>
    <div class='flex place-content-center'>
      <img src='./WTM_IWD_2024_Sticker.gif' />
    </div>

    <div class='flex flex-col place-content-center'>
      <a
        href='https://gdg.community.dev/events/details/google-gdg-sucre-presents-international-womens-day-sucre-2024/'
        class='w-3/5 lg:w-2/5 py-1 sm:py-2 mx-auto border-black border-2 border-r-4 rounded-full font-medium text-xl md:text-4xl text-center text-white bg-[#54A7ED] hover:bg-teal hover:text-black'
        target='_blank'
      >
        Regístrate
      </a>
    </div>

    <div
      class='pt-8 lg:pt-0 flex items-center justify-center flex-col text-center gap-y-4 sm:gap-y-8'
    >
      <h2 class='pt-4 text-4xl font-semibold lg:text-4xl text-[#666666]'>
        Sábado 16 de marzo
      </h2>

      <span class='mb-1 lg:-mb-2 text-2xl'>Faltan:</span>
      <Timer targetDate={new Date('2024-03-16T14:00:00-04:00')} client:load />
    </div>
  </section>
</hero>
