---
import { Timer } from '../Timer'

const targetDate = new Date('2024-07-13T08:30:00-04:00')

const getRemainingTime = () => {
  const currentDate = Date.now()
  return targetDate.getTime() - currentDate
}
---

<hero>
  <section class='mt-20 mb-12 mx-4 font-google'>
    <div class='flex place-content-center mt-32 md:mt-40'>
      <img src='./IOExtended.svg' width='880' height='574' loading='eager' decoding='async' />
    </div>
    <h2 class='text-center font-google font-medium text-2xl md:text-4xl lg:text-5xl mb-8 md:mb-12'>
      Sucre 2024
    </h2>

    <div class='flex flex-col place-content-center'>
      <a
        href='https://bit.ly/GoogleIOExtSucre'
        class='min-w-fit py-2 px-6 lg:py-4 lg:px-8 mx-auto rounded-full text-xl md:text-3xl text-center text-white bg-gradient-to-r from-red via-orange via-75% to-yellow hover:via-purple hover:via-50% hover:to-blue transition-all'
        target='_blank'
      >
        Regístrate
      </a>
    </div>

<div class='pt-4 lg:pt-6 flex items-center justify-center flex-col text-center'>
  <div class='text-xl md:text-2xl font-medium text-black leading-8 md:leading-10 flex flex-col md:flex-row justify-between items-start md:items-center'>
    <div class='p-2 sm:p-2 md:p-6 lg:p-8 text-left flex items-start'>
      <img src="./Calendar.svg" alt="" class='mr-2 mt-2'>
      <div>
        <span class='block'>Sábado 13 de julio</span>
        <span class='block'>08:30 hrs.</span>
      </div>
    </div>

    <div class='p-2 sm:p-2 md:p-6 lg:p-8 text-left flex items-start'>
      <img src="./LocationMarker.svg" alt="" class='mr-2 mt-2'>
      <div>
        <span class='block'>CAINCO Chuquisaca</span>
        <span class='block'>Calle España #64</span>
      </div>
    </div>
  </div>
<Timer initialTime={getRemainingTime()} targetDate={targetDate} client:load />
</div>
  </section>
</hero>
