---
import { Timer } from './Timer'

import CalendarLogo from '../../assets/icons/Calendar.astro'

import Logo from './Logo.astro'
import RegisterButton from './RegisterButton.astro'
import LocationMarker from 'src/assets/icons/LocationMarker.astro'

const targetDate = new Date('2024-11-16T08:30:00-04:00')

const getRemainingTime = () => {
  const currentDate = Date.now()
  return targetDate.getTime() - currentDate
}

const hasSessionCookie = Astro.cookies.has('__session')
---

<hero>
  <section class='mb-12 flex flex-col items-center px-4 pt-28 lg:pt-40'>
    <Logo class='h-20 sm:h-32' />

    <div class='my-8 border-2 bg-yellow pb-1 pr-1 dark:bg-blue md:my-12'>
      {
        hasSessionCookie ? (
          <a
            href='/registro'
            class='block w-fit border-b-2 border-r-2 bg-white px-8 py-2 text-center text-xl transition-all dark:bg-black md:text-3xl lg:py-3'
          >
            Ver registro
          </a>
        ) : (
          <RegisterButton />
        )
      }
    </div>

    <div
      class='mb-8 flex flex-col items-center space-y-4 pt-4 text-xl font-medium leading-8 md:mb-8 md:flex-row md:space-x-12 md:space-y-0 md:text-2xl md:leading-10'
    >
      <div class='flex items-start'>
        <CalendarLogo class='mx-2 mt-1' />

        <span class='block leading-snug'>
          Sábado 16 de noviembre
          <br />08:30 hrs.
        </span>
      </div>
      <div class='flex items-start'>
        <LocationMarker class='mx-2 mt-1' />

        <span class='block leading-snug'>
          Edificio Central USFX <br />
          Calle Junín & Estudiantes
        </span>
      </div>
    </div>

    <div>
      <Timer initialTime={getRemainingTime()} targetDate={targetDate} client:load />
    </div>
  </section>
</hero>
