---
import Loader from '../../assets/icons/loader.svg'
---

<button id='register' class='flex items-center px-4 py-3'>
  <Loader
    id='loader'
    class='mr-3 hidden w-6 animate-spin fill-black text-black/40 dark:text-white/50'
  />

  <span>Regístrate</span>
</button>

<style>
  #register {
    animation: glow 1s ease-in-out;
    transition:
      background 5s,
      box-shadow 5s;
    border-radius: 30px;
  }
  @keyframes glow {
    0% {
      box-shadow:
        0 0 5px rgba(0, 0, 0, 0.8),
        0 0 20px rgba(255, 255, 255, 0.4);
    }
    50% {
      box-shadow:
        0 0 5px rgba(0, 0, 0, 0.8),
        0 0 30px rgba(255, 255, 255, 0.6);
    }
    100% {
      box-shadow:
        0 0 5px rgba(0, 0, 0, 0.8),
        0 0 20px rgba(255, 255, 255, 0.4);
    }
  }
</style>

<script>
  import googleLogin from 'src/firebase/googleLogin'

  const loaderIcon = document.querySelector('#loader')
  document.querySelector('#register').addEventListener('click', async () => {
    loaderIcon.classList.remove('hidden')

    try {
      await googleLogin('/registro')
    } finally {
      loaderIcon.classList.add('hidden')
    }
  })
</script>
