---
import PastEvent from '@components/PastEventCard.astro'
import 'swiper/css'
import 'swiper/css/effect-cards'
import 'swiper/css/pagination';
import PastEventsHeader from '@components/PastEventsHeader.astro'
---
<div class='absolute inset-0 -z-10 h-full w-full bg-black bg-[linear-gradient(to_right,#777777_1px,transparent_1px),linear-gradient(to_bottom,#777777_1px,transparent_1px)] bg-[size:4rem_4rem]'>
  <PastEventsHeader/>
  <div class='h-screen mx-auto bg-gray-800 pt-8 lg:pt-4 space-y-12'>
    <div class='lg:pb-24 md:pb-10 sm:pb-48'></div>
    <div class='swiper p-16'>
      <div class='swiper-wrapper space-x-8 pb-8'>
        <div class='swiper-slide'>
          <PastEvent
            title='I/O Extended Sucre 2024'
            desktopScreenshot='/screenshots/io-extended-2024-desktop.webp'
            mobileScreenshot='/screenshots/io-extended-2024-mobile.webp'
            href='https://gdgsucre.com/'
          />
        </div>

        <div class='swiper-slide'>
          <PastEvent
            title='WTM 2024'
            desktopScreenshot='/screenshots/Women-Techmakers-2024-desktop.webp'
            mobileScreenshot='/screenshots/Women-Techmakers-2024-mobile.webp'
            href='https://iwd2024.gdgsucre.com/'
          />
        </div>

        <div class='swiper-slide'>
          <PastEvent
            title='DevFest Sucre 2023'
            desktopScreenshot='/screenshots/devfest-2023-desktop.webp'
            mobileScreenshot='/screenshots/devfest-2023-mobile.webp'
            href='https://devfest2023.gdgsucre.com/'
          />
        </div>

        <div class='swiper-slide'>
          <PastEvent
            title='I/O Extended Sucre 2023'
            desktopScreenshot='/screenshots/io-extended-2023-desktop.webp'
            mobileScreenshot='/screenshots/io-extended-2023-mobile.webp'
            href='https://googleio2023.gdgsucre.com/'
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <script>
      import Swiper from 'swiper/bundle';      

      new Swiper('.swiper', {
        effect: 'coverflow',
        coverflowEffect: {
          rotate: 20,
          stretch: 0,
          depth: 300,
          modifier: 2,
          slideShadows: true,
        },
        mousewheel: {
          invert: true,
        },
        keyboard: {
          enabled: true,
          onlyInViewport: false,
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: true,
        },
        centeredSlides: true,
        slidesPerView: 2,
        rewind: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
          return '<span class="' + className + '" style="background-color: white;">' + '</span>';
        }
        },
      });
    </script>
  </div>
</div>