---
import PastEvent from '@components/PastEventCard.astro'
import 'swiper/css'
import 'swiper/css/effect-cards'
---

<div class='h-screen mx-auto bg-gray-800 pt-8 lg:pt-4 space-y-12'>
  <h3 class='text-white font-semibold mx-8 lg:mx-64 text-3xl md:text-4xl'>
    Eventos pasados
  </h3>

  <div class='swiper p-16'>
    <div class='swiper-wrapper space-x-8'>
      <div class='swiper-slide'>
        <PastEvent
          title='I/O Extended Sucre 2023'
          desktopScreenshot='/screenshots/io-extended-2023-desktop.webp'
          mobileScreenshot='/screenshots/io-extended-2023-mobile.webp'
          href='https://googleio2023.gdgsucre.com/'
        />
      </div>

      <div class='swiper-slide'>
        <PastEvent
          title='DevFest Sucre 2023'
          desktopScreenshot='/screenshots/devfest-2023-desktop.webp'
          mobileScreenshot='/screenshots/devfest-2023-mobile.webp'
          href='https://gdgsucre.com/'
        />
      </div>
    </div>

    <script>
      import Swiper from 'swiper/bundle'

      new Swiper('.swiper', {
        autoplay: {
          delay: 4000,
          disableOnInteraction: true
        },
        centeredSlides: true,
        grabCursor: true,
        slidesPerView: 2,
        rewind: true
      })
    </script>
  </div>
</div>
