---
import Layout from '@layouts/Layout.astro'
import { GET } from 'src/pages/api/auth/user.ts'

import RegisterStatusHandler from '@components/register/RegisterStatusHandler.astro'
import { fetchRegistration } from '@components/register/registerUtils'

const res = await GET(Astro)
const user = await res.json()

const registration = await fetchRegistration(user)

if (registration.validated) {
  const landyardUrl = new URL('lanyard', Astro.url)

  landyardUrl.searchParams.set('firstname', registration.firstname)
  landyardUrl.searchParams.set('email', registration.email)
  landyardUrl.searchParams.set('picture', registration.picture)
  landyardUrl.searchParams.set('role', registration.role || 'Participante')

  return Astro.redirect(landyardUrl.toString())
}
---

<Layout title='Registro'>
  <div class='mx-auto flex max-w-screen-sm flex-col px-4 py-24 md:pt-32'>
    <RegisterStatusHandler registration={registration} />

    <a href='/' class='my-4 w-full rounded-lg border py-2 text-center font-medium'>
      Volver al inicio
    </a>
  </div>
</Layout>
