---
import Layout from '@layouts/Layout.astro'
import EventBadge from '@components/register/EventBadge'
import Diplodocus from 'src/assets/Diplodocus.astro'

import { getAuth } from 'firebase-admin/auth'
import { getFirestore } from 'firebase-admin/firestore'

import { app } from '../firebase/server'

interface Registration {
  firstname: string
  lastname: string
  email: string
  phone: string
  ci: string
  cu: string
  dietaryRestriction: string
  validated: boolean
  role: string
}

let registration: Registration
let user

const sessionCookie = Astro.cookies.get('__session')?.value
if (!sessionCookie) {
  return Astro.redirect('/')
}

const auth = getAuth(app)

try {
  user = await auth.verifySessionCookie(sessionCookie)

  const db = getFirestore(app).collection('registro-devfest2024')
  const doc = await db.doc(user.uid).get()
  registration = doc.data() as Registration
} catch (error) {
  Astro.cookies.delete('__session')
  return Astro.redirect('/')
}
---

<Layout title='Registro'>
  <div class='px-4 pt-24 md:pt-32'>
    {
      !registration && (
        <div class='flex flex-col'>
          <div class='mx-auto md:text-xl'>
            ¡Se agotaron los cupos! Gracias por tu interés en participar, esperamos verte en
            próximos eventos.
          </div>
          <div class='mx-auto mt-8 flex flex-col items-center space-y-2'>
            <Diplodocus class='w-20' />
            <div class='border-2 bg-green pb-1 pr-1'>
              <a
                href='/'
                class='block border-b-2 border-r-2 border-black bg-white p-2 px-4 dark:border-white dark:bg-black'
              >
                Volver al inicio
              </a>
            </div>
          </div>
        </div>
      )
    }
    {
      registration && registration.validated && (
        <div class='flex flex-col'>
          <div class='m-12 mx-auto flex flex-col items-center space-y-12'>
            <EventBadge
              userName={user.name}
              email={user.email}
              role={registration.role}
              client:visible
            />

            <a
              href='/'
              class='relative border-2 border-black bg-white px-6 py-3 text-xl font-semibold text-black shadow-[4px_4px_0px_0px_rgba(68,132,242,1)] transition-all duration-150 active:translate-x-1 active:translate-y-1 active:shadow-none'
            >
              Volver al inicio
            </a>
          </div>
        </div>
      )
    }
  </div>
</Layout>
