---
import Layout from '@layouts/Layout.astro'
import RegisterTicket from '@components/register/RegisterTicket.astro'
import RegisterForm from '@components/register/RegisterForm.astro'

import { getAuth } from 'firebase-admin/auth'
import { getFirestore } from 'firebase-admin/firestore'

import { app } from '../firebase/server'

interface Registration {
  firstname: string
  lastname: string
  email: string
  phone: string
  dietaryRestriction: string
}

let registration: Registration
let user

const sessionCookie = Astro.cookies.get('__session')?.value
if (!sessionCookie) {
  return Astro.redirect('/')
}

const auth = getAuth(app)

try {
  user = await auth.verifySessionCookie(sessionCookie)

  const db = getFirestore(app).collection('registro-devfest2024')
  const doc = await db.doc(user.uid).get()
  registration = doc.data() as Registration
} catch (error) {
  Astro.cookies.delete('__session')
  return Astro.redirect('/')
}
---

<Layout title='Registro'>
  <div class='pt-32'>
    {
      registration ? (
        <RegisterTicket {...registration} />
      ) : (
        <RegisterForm {...user} />
      )
    }
  </div>
</Layout>
