---
import Layout from '@layouts/Layout.astro'
import RegisterTicket from '@components/register/RegisterTicket.astro'
import RegisterForm from '@components/register/RegisterForm.astro'

import { getAuth } from 'firebase-admin/auth'
import { getFirestore } from 'firebase-admin/firestore'

import { app } from '../firebase/server'
import Diplodocus from 'src/assets/Diplodocus.astro'

interface Registration {
  firstname: string
  lastname: string
  email: string
  phone: string
  ci: string
  cu: string
  dietaryRestriction: string
  validated: boolean
}

let registration: Registration
let user

const sessionCookie = Astro.cookies.get('__session')?.value
if (!sessionCookie) {
  return Astro.redirect('/')
}

const auth = getAuth(app)

try {
  user = await auth.verifySessionCookie(sessionCookie)

  const db = getFirestore(app).collection('registro-devfest2024')
  const doc = await db.doc(user.uid).get()
  registration = doc.data() as Registration
} catch (error) {
  Astro.cookies.delete('__session')
  return Astro.redirect('/')
}
---

<Layout title='Registro'>
  <div class='pt-24 md:pt-32'>
    {!registration && <RegisterForm uid={user.uid} email={user.email} />}
    {registration && registration.validated && <RegisterTicket {...registration} />}
    {
      registration && !registration.validated && (
        <div class='flex flex-col'>
          <div class='mx-auto p-8 md:text-xl'>
            Estamos procesando tu registro.
            <br /> Te notificaremos cuando haya sido validado.
          </div>
          <div class='mx-auto flex flex-col items-center space-y-1'>
            <Diplodocus />
            <a href='/' class='dark:bg border-2 border-black bg-green p-2 px-4 dark:border-white'>
              Volver al inicio
            </a>
          </div>
        </div>
      )
    }
  </div>
</Layout>
