---
import Layout from '@layouts/Layout.astro'
import RegisterTicket from '@components/register/RegisterTicket.astro'
import RegisterForm from '@components/register/RegisterForm.astro'
import EventBadge from '@components/register/eventBadge.tsx'
import Diplodocus from 'src/assets/Diplodocus.astro'


import { getAuth } from 'firebase-admin/auth'
import { getFirestore } from 'firebase-admin/firestore'

import { app } from '../firebase/server'

interface Registration {
  firstname: string
  lastname: string
  email: string
  phone: string
  ci: string
  cu: string
  dietaryRestriction: string
  validated: boolean
}

let registration: Registration
let user

const sessionCookie = Astro.cookies.get('__session')?.value
if (!sessionCookie) {
  return Astro.redirect('/')
}

const auth = getAuth(app)

try {
  user = await auth.verifySessionCookie(sessionCookie)

  const db = getFirestore(app).collection('registro-devfest2024')
  const doc = await db.doc(user.uid).get()
  registration = doc.data() as Registration
} catch (error) {
  Astro.cookies.delete('__session')
  return Astro.redirect('/')
}
---

<Layout title='Registro'>
  <div class='px-4 pt-24 md:pt-32'>
    {
      !registration && (
        <div class='flex flex-col'>
          <div class='mx-auto md:text-xl'>
            ¡Se agotaron los cupos! Gracias por tu interés en participar, esperamos verte en
            próximos eventos.
          </div>
          <div class='mx-auto mt-8 flex flex-col items-center space-y-2'>
            <Diplodocus class='w-20' />
            <div class='border-2 bg-green pb-1 pr-1'>
              <a
                href='/'
                class='block border-b-2 border-r-2 border-black bg-white p-2 px-4 dark:border-white dark:bg-black'
              >
                Volver al inicio
              </a>
            </div>
          </div>
          <RegisterForm />
        </div>
      )
    }
    {registration && registration.validated && <RegisterTicket {...registration} />}
    {
      registration && !registration.validated && (
        <div class='flex flex-col'>
          <div class='mx-auto m-12 flex flex-col items-center space-y-2'>
            <EventBadge userName={user.name} client:visible />
            <div class='border-2 bg-green pb-1 pr-1'>
              <a
                href='/'
                class='block border-b-2 border-r-2 border-black bg-white p-2 px-4 dark:border-white dark:bg-black'
              >
                Volver al inicio
              </a>
            </div>
          </div>
        </div>
      )
    }
  </div>
</Layout>
