---
import { ThemeToggle } from './ThemeToggle'

import Logo from '../../assets/Logo.astro'
import LogoShort from '../../assets/Logo-short.astro'
import Avatar from './Avatar'
import Loader from '../../assets/icons/loader.svg'

const links = [
  { name: 'Speakers', href: '#speakers', class: 'hover:text-blue-three' },
  { name: 'Agenda', href: '#agenda', class: 'hover:text-blue-three' },
  { name: 'Sponsors', href: '#sponsors', class: 'hover:text-blue-three' },
  { name: 'Equipo', href: '#organizadores', class: 'hover:text-blue-three' },
  { name: 'Preguntas frecuentes', href: '#faq', class: 'hover:text-blue-three' },
  { name: 'Eventos Pasados', href: '/pastEvents/', class: 'hover:text-blue-three' }
]

const sessionCookie = Astro.cookies.has('__session')
---

<nav class='fixed top-0 z-20 w-full border-b-2 border-green-four bg-green-one text-green-four'>
  <div class='mx-auto flex max-w-screen-xl flex-wrap items-center justify-between gap-4 p-4'>
    <a href='/#' aria-current='page' aria-label='Return to home'>
      <div class='block md:hidden'>
        <LogoShort />
      </div>
      <div class='hidden md:block'>
        <Logo />
      </div>
    </a>

    <div id='navbar-sticky' class='order-1 ml-auto hidden w-full md:order-none md:block md:w-fit'>
      <ul
        class='mt-4 flex flex-col rounded-xl border-2 p-4 font-medium md:mt-0 md:flex-row md:gap-6 md:border-0 md:p-0'
      >
        {
          links.map(item => (
            <li>
              <a href={item.href} class={`block py-2 ${item.class}`}>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class='flex items-center gap-4'>
      <ThemeToggle client:load />
      {
        sessionCookie ? (
          <Avatar client:load />
        ) : (
          <button
            id='login'
            class='flex items-center gap-2 rounded-md border border-green-four px-2 py-1'
          >
            <Loader id='loaderLogin' class='hidden w-4 animate-spin fill-green-four' />
            Iniciar sesión
          </button>
        )
      }

      <button
        data-collapse-toggle='navbar-sticky'
        type='button'
        class='inline-flex items-center justify-center rounded-lg p-2 focus:ring-2 focus:ring-green-two md:hidden'
        aria-controls='navbar-sticky'
        aria-expanded='false'
      >
        <span class='sr-only'>Open main menu</span>
        <svg
          class='h-5 w-5'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 16'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 1h15M1 7h15M1 13h15'></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<script>
  import googleLogin from 'src/firebase/googleLogin'

  document.querySelector('[data-collapse-toggle]').addEventListener('click', function () {
    const target = document.getElementById(this.getAttribute('aria-controls'))
    const expanded = this.getAttribute('aria-expanded') === 'true' || false

    this.setAttribute('aria-expanded', !expanded)
    target.classList.toggle('hidden')
  })

  const loaderIcon = document.getElementById('loaderLogin')
  document.querySelector('#login')?.addEventListener('click', async () => {
    try {
      loaderIcon.classList.remove('hidden')
      await googleLogin()
    } finally {
      loaderIcon.classList.add('hidden')
    }
  })
</script>
