---
import Diplodocus from 'src/assets/Diplodocus.astro'
---

<section id='about' class='mx-auto my-8 max-w-screen-lg px-4'>
  <Diplodocus class='ml-auto mr-2 w-20 md:w-32' />

  <div class='border-2 bg-yellow pb-3 pr-3 dark:bg-blue'>
    <div
      class='border-b-2 border-r-2 border-black bg-white px-6 py-4 text-black dark:border-white dark:bg-black dark:text-white md:flex-row lg:py-8'
    >
      <p class='text-center'>
        El DevFest Sucre es un evento tecnológico, organizado por la comunidad GDG Sucre, donde se
        comparten conocimientos sobre desarrollo de software, nuevas tecnologías y herramientas de
        Google.
      </p>
    </div>
  </div>
</section>
