<section id='about' class='max-w-screen-lg mx-auto my-4'>
  <div
    class='mx-4 px-6 py-4 bg-[#C2E5FE] text-black lg:py-8 border-black border-2 border-r-[6px] hover:border-r-8 transition-all'
  >
    <h2 class='mb-2 text-xl md:text-2xl font-extrabold tracking-tight'>
      Impacta el Futuro
    </h2>
    <p class='font-medium md:text-left md:text-lg'>
      ¡Tú eres el futuro de la tecnología! Usa tu ingenio y creatividad para
      moldear un mundo mejor con Inteligencia Artificial. <br />
      ¿Te imaginas las posibilidades? Juntos podemos resolver problemas, impulsar
      comunidades e inspirar a la próxima generación de mujeres innovadoras.
      <br />
      ¡Une fuerzas con nosotros!
    </p>
  </div>
</section>
