<div
  class="block p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700 content mx-auto w-full max-w-screen-md my-12"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-white"
  >
    Sobre el evento
  </h5>
  <p class="font-normal text-gray-400">
    Aprendamos juntos sobre las novedades que nos trajo el Google I/O en la
    hermosa capital de Bolivia, donde hablaremos sobre nuevas tecnologías. de la
    mano de expertos internacionales y nacionales en el área, actualizaciones,
    codelabs y muchas sorpresas más. No te pierdas este gran evento 🎉
  </p>
</div>
