<section id='about' class='max-w-screen-lg mx-auto my-4'>
  <div
    class='flex flex-col md:flex-row items-center justify-between mx-4 px-6 py-4 rounded-xl bg-[#EEEEEE] text-black lg:py-8 border-black border-2 '
  >

  <div class="max-w-lg">
    <h1 class="text-xl md:text-2xl font-bold text-center md:text-left">
      ¡Acompáñanos a descubrir las novedades del Google I/O 2024 en la hermosa capital de Bolivia!
    </h1>
    <p class="mt-4 text-center text-xl md:text-2xl md:text-left">
      En este evento, exploraremos las últimas tecnologías de Google junto a expertos internacionales y nacionales.
    </p>
    <p class="mt-4 text-xl text-center md:text-2xl md:text-left font-bold">¡No te pierdas este gran evento!</p>
  </div>
    <div class="hidden md:block md:ml-6 ">
      <img src="/src/assets/sponsors/io24-learning-cta.png" alt="Loguuu" />
    
  </div>
  </div>
    <!--  <div
    class='mx-4 px-6 py-4 rounded-xl bg-[#EEEEEE] text-black lg:py-8 border-black border-2 border-r-[6px] hover:border-r-8 transition-all'
  >
    <h2 class='mb-2 text-xl md:text-2xl font-extrabold tracking-tight'>
      Impacta el Futuro
    </h2>
    <p class='font-medium md:text-left md:text-lg'>
      ¡Tú eres el futuro de la tecnología! Usa tu ingenio y creatividad para
      moldear un mundo mejor con Inteligencia Artificial. <br />
      ¿Te imaginas las posibilidades? Juntos podemos resolver problemas, impulsar
      comunidades e inspirar a la próxima generación de mujeres innovadoras.
      <br />
      ¡Une fuerzas con nosotros!
    </p>
  </div> --> 
</section>
