---
import '@fontsource/quantico'

import DFDivisor from './DFDivisor.astro'
---

<section id='about' class='max-w-screen-lg mx-auto'>
  <DFDivisor />

  <div class='px-6 py-4 bg-white text-black lg:py-8'>
    <h2 class='mb-2 text-2xl font-extrabold tracking-tight'>
      ¿Qué es el DevFest?
    </h2>
    <p class='font-medium text-lg lg:text-left lg:text-lg'>
      Es un evento de un día entero de conocimiento. A través de Conferencias y
      Talleres podrás potenciar tus habilidades en multiples áreas como
      desarrollo Web y Móvil, diseño UI/UX, Cloud e Inteligencia artificial.
    </p>
  </div>

  <DFDivisor rotated />
</section>
