---
import { Image } from 'astro:assets'
import aboutLogo from '../assets/io24-learning-cta.webp'
import aboutLogoDark from '../assets/io24-learning-cta-dark.webp'
---

<section id='about' class='max-w-screen-lg mx-auto my-8 h-64'>
  <div
    class='flex flex-row lg:py-8 items-center justify-between mx-4 px-6 py-4 rounded-xl bg-gray dark:bg-black text-black dark:text-white border-2 border-black dark:border-white'
  >
    <div class='space-y-4 md:max-w-lg md:text-lg'>
      <h1 class='font-bold md:text-xl'>
        ¡Acompáñanos a descubrir las novedades del Google I/O 2024 en la hermosa capital de Bolivia!
      </h1>
      <p class='md:text-left'>
        En este evento, exploraremos las últimas tecnologías de Google junto a expertos
        internacionales y nacionales.
      </p>
      <p class='font-bold md:text-left'>¡No te pierdas este gran evento!</p>
    </div>

    <div class='hidden md:block md:ml-6 w-72'>
      <Image width='300' height='300' class='block dark:hidden' src={aboutLogo} alt='Loguuu' />
      <Image
        width='300'
        height='300'
        class='hidden dark:block'
        src={aboutLogoDark}
        alt='Loguuu dark'
      />
    </div>
  </div>
</section>
