---
import SectionTitle from './SectionTitle.astro'
import scheduleData from '../data/schedule.json'
import ScheduleCard from './ScheduleCard.astro'
---

<SectionTitle id='agenda' title='Agenda' />
<div class='max-w-screen-lg mx-auto'>
  <div
    class='schedule flex flex-row overflow-scroll snap-x snap-mandatory text-white md:justify-center md:overflow-hidden'
  >
    <div class='snap-start px-6'>
      <h4 class='font-bold text-2xl'>Charlas</h4>
      {scheduleData.talks.map(talk => <ScheduleCard {...talk} type='talk' />)}
    </div>
    <!-- vertical divisor -->
    <div class='border-l-2 border-gray-600 mt-12 mb-4'></div>

    <div class='snap-start px-6'>
      <h4 class='font-bold text-2xl'>Talleres</h4>
      {
        scheduleData.workshops.map(workshop => (
          <ScheduleCard {...workshop} type='workshop' />
        ))
      }
    </div>
  </div>
</div>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .schedule::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .schedule {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
