---
import SectionTitle from './SectionTitle.astro'
import scheduleData from '../data/schedule.json'
import ScheduleCard from './ScheduleCard.astro'
---

<div class='bg-gray dark:bg-black'>
  <SectionTitle id='agenda' title='Agenda' />
  <div
    class='schedule flex flex-row overflow-scroll snap-x snap-mandatory dark:text-white md:justify-center md:overflow-hidden'
  >
    <div class='snap-start pl-4 py-2'>
      <h3 class='font-semibold text-2xl'>Mañana</h3>
      {scheduleData.day.map(talk => <ScheduleCard {...talk} type='talk' />)}
    </div>
    <!-- vertical divisor -->
    <div class='border-l-2 border-gray-600 mt-12 mx-3 md:mx-4'></div>

    <div class='snap-start pr-4 py-2'>
      <h3 class='font-semibold text-2xl'>Tarde</h3>
      {scheduleData.afternoon.map(workshop => <ScheduleCard {...workshop} type='workshop' />)}
    </div>
  </div>
</div>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .schedule::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .schedule {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
