---
import SectionTitle from "./SectionTitle.astro";
---

<SectionTitle title="Agenda" />
<div
  class="mx-auto w-full max-w-screen-md p-4 border rounded-lg shadow sm:p-8 bg-white bg-opacity-20 border-gray-700"
>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-700">
      <li class="py-2 sm:py-4">
        <div class="flex items-center space-x-4">
          <div
            class="inline-flex items-center font-bold text-2xl text-white sm:text-5xl"
          >
            14:00
          </div>
          <div class="flex-1 overflow-hidden">
            <p class="text-2xl font-bold text-yellow truncate">
              Título o nombre de la charla
            </p>
            <p class="text-md truncate text-white">
              Nombre del speaker
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
