---
import SectionTitle from './SectionTitle.astro'
import scheduleData from '../data/schedule.json'
import ScheduleCard from './ScheduleCard.astro'
---
<div class='mx-2.5'>
  <div
    class='bg-blue-one mx-auto mb-8 mt-10 max-w-screen-lg border-2 rounded-xl dark:bg-blue-five lg:mb-12 lg:mt-20 2xl:border-2 flex flex-col items-center'
  >
    <SectionTitle id='agenda' title='Agenda' />

    <div class='flex justify-center items-center'>
      <div class='max-w w-full py-6 relative'>
        <div class='space-y-8'>

          {
            scheduleData.afternoon.map(event => (
              <ScheduleCard
                title={event.title}
                speaker={event.speaker}
                time={event.time}
                image={event.photoUrl}
              />
            ))
          }

        </div>
      </div>
    </div>
  </div>
</div>
