---
import Calendar from 'src/assets/icons/Calendar.astro'
import LocationMarker from 'src/assets/icons/LocationMarker.astro'
import Diplodocus from 'src/assets/Diplodocus.astro'
---

<div class='dark:bg-gray-800 relative w-full p-4 md:p-6 lg:p-8'>
  <!-- Top grid with location, map, and Diplodocus -->
  <!-- Diplodocus component on top -->
  <!-- <Diplodocus class='relative right-0 top-0 z-10 ml-auto mr-2 w-20 md:w-32' /> -->
  <div class='grid grid-cols-4'>
    <Diplodocus class='col-span-1 col-start-4 w-20 md:col-span-1 md:col-start-4 md:w-32' />
  </div>
  <div class='relative mx-auto grid max-w-7xl grid-cols-1 gap-4 md:grid-cols-2 md:gap-6'>
    <!-- Left side - Info boxes (mobile layout) -->
    <div class='grid grid-cols-2 gap-4 md:grid-cols-1 md:grid-rows-2 md:gap-4'>
      <!-- Location info box -->
      <div
        class='cut-corners-r h-full bg-transparent transition-all duration-300 hover:bg-yellow/50 hover:shadow-lg'
      >
        <div
          class='cut-corners-r h-full border-b-2 border-r-2 bg-yellow pb-2 pr-2 dark:border-yellow'
        >
          <div
            class='dark:bg-gray-800 flex h-full items-center border-2 border-black bg-white px-3 py-10 dark:text-black'
          >
            <div class='flex h-full items-center'>
              <LocationMarker
                class='mx-3 mt-1 hidden size-12 text-black dark:text-black md:block'
              />
              <span class='block text-lg leading-snug text-black dark:text-black'>
                Edificio Central USFX
                <br />Calle Junín & Estudiantes
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Calendar box -->
      <div
        class='cut-corners-r h-full bg-transparent transition-all duration-300 hover:bg-yellow/50 hover:shadow-lg'
      >
        <div
          class='cut-corners-r h-full border-b-2 border-r-2 bg-yellow pb-2 pr-2 dark:border-yellow'
        >
          <div
            class='dark:bg-gray-800 flex h-full items-center border-2 border-black bg-white px-3 py-10 dark:text-black'
          >
            <div class='flex h-full items-center'>
              <Calendar class='mx-3 mt-1 hidden size-12 text-black dark:text-black md:block' />
              <span class='block text-lg leading-snug text-black dark:text-black'>
                Sábado 16 de noviembre
                <br />08:30 hrs.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right side - Map (mobile layout) -->
    <div
      class='cut-corners-r h-[300px] min-h-[300px] bg-black transition-all duration-300 hover:bg-yellow/50 hover:shadow-lg md:h-full'
    >
      <div
        class='cut-corners-r h-full border-b-2 border-r-2 bg-yellow pb-2 pr-2 dark:border-yellow'
      >
        <div class='dark:bg-gray-800 h-full border-2 border-black bg-white'>
          <iframe
            src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1679.956275278946!2d-65.26170413646413!3d-19.04727744581374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbcf3609d2fb5f%3A0x27f7b185248c536b!2sUniversidad%20Mayor%2C%20Real%20y%20Pontificia%20de%20San%20Francisco%20Xavier%20de%20Chuquisaca%20-%20USFX!5e0!3m2!1ses-419!2sbo!4v1730949440706!5m2!1ses-419!2sbo'
            class='h-full w-full'
            style='border:0;'
            loading='lazy'
            referrerpolicy='no-referrer-when-downgrade'
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- About section below -->
  <div class='mx-auto mt-4 max-w-7xl md:mt-6'>
    <div
      class='cut-corners-r bg-black transition-all duration-300 hover:bg-yellow/50 hover:shadow-lg'
    >
      <div class='cut-corners-r border-b-2 border-r-2 bg-yellow pb-2 pr-2 dark:border-yellow'>
        <div class='dark:bg-gray-800 border-2 border-black bg-white px-3 py-8 dark:text-black'>
          <span class='block text-center text-lg leading-snug text-black dark:text-black'>
            El DevFest Sucre es un evento tecnológico, organizado por la comunidad GDG Sucre, donde
            se comparten conocimientos sobre desarrollo de software, nuevas tecnologías y
            herramientas de Google.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
