---
import dfDivisor from '../assets/df-divisor.webp'
const { rotated } = Astro.props
---

<div class={rotated && 'transform rotate-180'}>
  <div
    class='bg-cover h-40 md:h-44 lg:h-48 bg-[url(./df-divisor.webp)] sm:bg-[url(./df-divisor-lg.webp)]'
  >
  </div>
</div>
