---
import GdgLogo from '../components/logos/GdgLogo.astro'
import WtmLogo from '../components/logos/WtLogo.astro'
import SocialIcons from './SocialIcons.astro'
import FooterGraph from './icons/FooterGraph.svg?url'
---

<footer class="bg-black">
  <div class="mx-auto w-full max-w-screen-lg p-4 py-6 lg:py-8">
    <div class="relative space-y-12">
      <hr
        class="border-2 sm:mx-auto border-yellow lg:my-4"
      />

      <div class="flex mb-6 md:mb-0 gap-2">
        <a
          href="https://gdg.community.dev/gdg-sucre/"
          class="flex items-center"
          target="_blank"
        >
          <GdgLogo />
        </a>
        <a
          href="https://developers.google.com/womentechmakers/ambassadors?hl=es-419"
          class="flex items-center"
          target="_blank"
        >
          <WtmLogo />
        </a>
      </div>

      <div class="max-w-lg grid grid-cols-2 gap-8 sm:gap-4 sm:grid-cols-2">
        <div>
          <ul class="text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://gdg.community.dev/gdg-sucre/"
                class="underline hover:text-white"
                target="_blank"
              >
                Comunidad GDG Sucre
              </a>
            </li>
            <li>
              <a
                href="https://developers.google.com/womentechmakers/ambassadors?hl=es-419"
                class="underline hover:text-white"
                target="_blank"
              >
                Women Techmakers Sucre
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://github.com/gdgsucre"
                class="underline hover:text-white"
                target="_blank"
              >
                Github
              </a>
            </li>
            <li>
              <a
                href="https://discord.gg/rwcakVfyrx"
                class="underline hover:text-white"
                target="_blank"
              >
                Discord
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="sm:flex sm:items-center sm:justify-between">
        <SocialIcons />
      </div>
      <div class="invisible sm:visible absolute top-0 right-0 w-1/3">
        <img src={FooterGraph}/>
      </div>
    </div>
  </div>
</footer>
