---
import GdgSucreLogo from './logos/GDGSucreLogo.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class='relative pt-4 md:pt-8 bg-gray dark:bg-black'>
  <img
    src='https://io.google/2024/app/images/io24-see-you-next-year.svg'
    class='w-full object-cover'
  />

  <div class='bg-gray dark:bg-black'>
    <div class='mx-auto max-w-screen-2xl p-4 pt-8 pb-16 lg:py-12'>
      <div class='flex space-y-4 flex-col lg:flex-row lg:space-y-0 font-medium'>
        <GdgSucreLogo />

        <a
          href='https://www.gdgsucre.com/eventos-pasados/'
          target='_blank'
          class='lg:mx-8 hover:text-blue'
        >
          Eventos Pasados
        </a>

        <a
          href='https://developers.google.com/community-guidelines'
          target='_blank'
          class='hover:text-blue lg:mr-auto'
        >
          Lineamientos de la comunidad
        </a>

        <SocialIcons />
      </div>
    </div>
  </div>
</footer>
