---
// import GdgSucreLogo from './logos/GDGSucreLogo.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class='relative border-t-2 bg-green-one dark:bg-black lg:mt-12'>
  <div class='mx-auto max-w-screen-2xl p-4 pb-16 pt-6 lg:py-8'>
    <div class='flex flex-col space-y-4 font-medium lg:flex-row lg:space-y-0'>
      <!-- <GdgSucreLogo />

      <a href='/pastEvents/' class='hover:text-blue lg:mx-8'>Eventos Pasados</a>

      <a
        href='https://developers.google.com/community-guidelines'
        target='_blank'
        class='hover:text-blue lg:mr-auto'
      >
        Lineamientos de la comunidad
      </a> -->

      <SocialIcons />
    </div>
  </div>
</footer>
