---
import Image from 'astro/components/Image.astro'

import bicycle from '../assets/io24-bicycle.svg'
import bicycleDark from '../assets/io24-bicycle-dark.svg'

import GdgSucreLogo from './logos/GDGSucreLogo.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class='relative pt-4 md:pt-8 bg-gray dark:bg-black'>
  <Image
    width='1440'
    height='319'
    src={bicycle}
    class='w-full object-cover dark:hidden'
    alt='I/O 2024 bicycle'
  />

  <Image
    width='1440'
    height='319'
    src={bicycleDark}
    class='w-full object-cover hidden dark:block'
    alt='I/O 2024 bicycle'
  />

  <div class='dark:bg-black dark:text-white dark:border-white'>
    <div class='mx-auto max-w-screen-2xl p-4 pt-8 pb-16 lg:py-12'>
      <div class='flex space-y-4 flex-col lg:flex-row lg:space-y-0 font-medium'>
        <GdgSucreLogo />

        <a href='/pastEvents/' class='lg:mx-8 hover:text-blue'> Eventos Pasados</a>

        <a
          href='https://developers.google.com/community-guidelines'
          target='_blank'
          class='hover:text-blue lg:mr-auto'
        >
          Lineamientos de la comunidad
        </a>

        <SocialIcons />
      </div>
    </div>
  </div>
</footer>
