---
import Icon from './Icon.astro'
---

<header id="splash-bg-fallback" class="flex justify-between px-16 py-16">
  <Icon icon="gdg_logo" />
  <nav class="text-white">
    <ul class="flex gap-4">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Speakers</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Paquetes</a></li>
    </ul>
  </nav>
</header>
