<header id="splash-bg-fallback" class="flex justify-between px-16 py-16">
  <svg
    width="250"
    height="39"
    viewBox="0 0 250 39"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M-6.10352e-05 15.9955C-6.10352e-05 8.28856 6.46423 2.01202 14.1844 2.01202C15.9584 1.98293 17.7219 2.30813 19.369 2.9691C21.0161 3.63007 22.5126 4.61624 23.7737 5.86415L21.0637 8.56088C19.2183 6.78422 16.7489 5.80598 14.187 5.83771C8.56347 5.83771 4.16669 10.3666 4.16669 16.0008C4.16669 21.6349 8.55554 26.1612 14.187 26.1612C17.8356 26.1612 19.9136 24.6965 21.2435 23.364C22.3354 22.272 23.0493 20.6989 23.3216 18.568H14.1844V14.7317H27.0336C27.179 15.5222 27.2478 16.326 27.2372 17.1297C27.2372 19.993 26.4546 23.5385 23.9297 26.0634C21.4682 28.6094 18.3326 29.9604 14.1817 29.9604C6.46423 29.9631 -6.10352e-05 23.7024 -6.10352e-05 15.9955Z"
      fill="#FEFEFE"></path>
    <path
      d="M37.6197 11.9715C32.6466 11.9715 28.5882 15.7602 28.5882 20.9686C28.5882 26.1771 32.6439 29.9605 37.6197 29.9605C42.5955 29.9605 46.6512 26.14 46.6512 20.9633C46.6512 15.7866 42.5928 11.9689 37.6197 11.9715ZM37.6197 26.4282C34.8965 26.4282 32.5434 24.1783 32.5434 20.9713C32.5434 17.7642 34.8939 15.5169 37.6197 15.5169C40.3455 15.5169 42.6933 17.7325 42.6933 20.9766C42.6933 24.2206 40.3429 26.4309 37.6197 26.4282Z"
      fill="#FEFEFE"></path>
    <path
      d="M57.3193 11.9768C52.3462 11.9768 48.2878 15.7655 48.2878 20.9739C48.2878 26.1824 52.3436 29.9658 57.3193 29.9658C62.2951 29.9658 66.3508 26.1454 66.3508 20.9686C66.3508 15.7919 62.2951 11.9689 57.3193 11.9689V11.9768ZM57.3193 26.4282C54.5961 26.4282 52.2404 24.1783 52.2404 20.9713C52.2404 17.7643 54.5909 15.517 57.3193 15.517C60.0452 15.517 62.3982 17.7325 62.3982 20.9766C62.3982 24.2206 60.0452 26.4335 57.3193 26.4335V26.4282Z"
      fill="#FEFEFE"></path>
    <path d="M91.9357 2.96649H87.9804V29.4291H91.9357V2.96649Z" fill="#FEFEFE"
    ></path>
    <path d="M91.9357 2.96649H87.9804V29.4291H91.9357V2.96649Z" fill="#FEFEFE"
    ></path>
    <path
      d="M102.77 26.4309C100.758 26.4309 99.3279 25.5108 98.4078 23.7077L110.44 18.7266L110.036 17.7114C109.285 15.6994 107.003 11.9847 102.334 11.9847C97.6622 11.9847 93.8471 15.6359 93.8471 20.9819C93.8471 26.029 97.6649 29.979 102.778 29.979C104.261 29.9869 105.723 29.6247 107.032 28.9267C108.341 28.2287 109.457 27.2161 110.276 25.9814L107.209 23.9351C106.178 25.4342 104.782 26.4309 102.77 26.4309ZM102.466 15.4482C104.034 15.4482 105.364 16.2308 105.805 17.3571L97.7627 20.699C97.6569 17.2196 100.454 15.4482 102.466 15.4482Z"
      fill="#FEFEFE"></path>
    <path
      d="M81.4975 12.5161V13.9782H81.3627C80.477 12.9127 78.7717 11.9662 76.6275 11.9662C72.1276 11.9662 68.0032 15.9241 68.0032 21.003C68.0032 26.0819 72.1276 29.9605 76.6275 29.9605C78.7743 29.9605 80.477 29.014 81.3627 27.9141H81.4975V29.2096C81.4975 32.6546 79.6574 34.4947 76.7042 34.4947C74.285 34.4947 72.786 32.755 72.1779 31.2983L68.7355 32.7313C69.3833 34.3149 70.4911 35.6686 71.9135 36.6178C73.3359 37.5669 75.0121 38.0692 76.7227 38.0587C81.3601 38.0587 85.2783 35.3355 85.2783 28.6808V12.5135H81.4975V12.5161ZM76.9765 26.4309C74.2533 26.4309 71.9664 24.1466 71.9664 21.0109C71.9664 17.8753 74.2507 15.5196 76.9765 15.5196C79.7023 15.5196 81.7699 17.8383 81.7699 21.0109C81.7699 24.1836 79.6653 26.4309 76.9739 26.4309H76.9765Z"
      fill="#FEFEFE"></path>
    <path d="M135.478 2.84747H122.033V29.585H135.478V2.84747Z" fill="#3D8BFF"
    ></path>
    <path
      d="M160.412 30.0081C168.03 30.0081 174.205 23.8328 174.205 16.2149C174.205 8.59713 168.03 2.42184 160.412 2.42184C152.794 2.42184 146.619 8.59713 146.619 16.2149C146.619 23.8328 152.794 30.0081 160.412 30.0081Z"
      fill="#3D8BFF"></path>
    <path
      d="M139.885 32.4325H137.294L144.67 0H147.261L139.885 32.4325Z"
      fill="#FEFEFE"></path>
    <path
      d="M184.622 2.06213H191.401V3.73042H186.367V6.81583H190.904V8.46828H186.367V11.5537H191.401V13.222H184.622V2.06213Z"
      fill="#FEFEFE"></path>
    <path
      d="M195.079 9.18482L192.334 5.27188H194.33L196.091 7.86024H196.139L197.823 5.27188H199.88L197.106 9.18482L199.912 13.222H197.886L196.11 10.5411H196.062L194.333 13.222H192.308L195.079 9.18482Z"
      fill="#FEFEFE"></path>
    <path
      d="M203.349 13.296C203.037 13.1797 202.783 13.0264 202.585 12.836C202.138 12.3813 201.916 11.7626 201.916 10.9774V6.78417H200.528V5.27187H201.916V3.02722H203.629V5.27187H205.562V6.78417H203.629V10.6178C203.629 11.054 203.711 11.3634 203.878 11.5458C204.033 11.76 204.303 11.8657 204.689 11.8657C204.866 11.8657 205.022 11.8419 205.157 11.7943C205.292 11.7467 205.437 11.6727 205.593 11.567V13.2352C205.25 13.3912 204.835 13.4679 204.345 13.4679C203.994 13.4705 203.661 13.4124 203.349 13.296Z"
      fill="#FEFEFE"></path>
    <path
      d="M208.174 12.9259C207.555 12.5611 207.071 12.0614 206.725 11.4216C206.376 10.7817 206.204 10.0626 206.204 9.2615C206.204 8.50271 206.373 7.79944 206.712 7.14904C207.05 6.49865 207.521 5.98309 208.124 5.59709C208.726 5.21372 209.411 5.02072 210.181 5.02072C210.982 5.02072 211.674 5.19786 212.261 5.5495C212.848 5.90378 213.295 6.38496 213.602 6.99834C213.909 7.61172 214.062 8.30178 214.062 9.07115C214.062 9.21656 214.046 9.39899 214.014 9.61578H207.92C207.984 10.3534 208.245 10.9219 208.708 11.3237C209.171 11.723 209.707 11.9239 210.321 11.9239C210.81 11.9239 211.233 11.8128 211.59 11.5881C211.949 11.366 212.238 11.062 212.454 10.676L213.903 11.3607C213.53 12.0164 213.041 12.5293 212.438 12.9048C211.836 13.2776 211.114 13.4653 210.273 13.4653C209.491 13.4706 208.793 13.2908 208.174 12.9259ZM212.312 8.31235C212.29 8.0321 212.203 7.75449 212.047 7.47953C211.891 7.20456 211.656 6.9719 211.339 6.78683C211.021 6.59912 210.635 6.50658 210.178 6.50658C209.628 6.50658 209.163 6.6705 208.782 6.99834C208.401 7.32618 208.14 7.76507 207.994 8.315H212.312V8.31235Z"
      fill="#FEFEFE"></path>
    <path
      d="M215.378 5.27455H217.015V6.31888H217.092C217.319 5.94609 217.66 5.63676 218.112 5.39088C218.564 5.14764 219.045 5.02338 219.553 5.02338C220.518 5.02338 221.253 5.30627 221.758 5.87206C222.263 6.43785 222.514 7.20987 222.514 8.18548V13.2194H220.801V8.41815C220.801 7.79419 220.648 7.33677 220.341 7.04594C220.034 6.75512 219.611 6.6097 219.072 6.6097C218.689 6.6097 218.345 6.71546 218.043 6.92961C217.742 7.14377 217.509 7.42669 217.343 7.77833C217.176 8.13261 217.094 8.51068 217.094 8.91519V13.2168H215.381V5.27455H215.378Z"
      fill="#FEFEFE"></path>
    <path
      d="M225.668 12.9259C225.087 12.561 224.627 12.0613 224.288 11.4215C223.95 10.7817 223.781 10.0573 223.781 9.24823C223.781 8.43655 223.95 7.71213 224.288 7.07493C224.627 6.43511 225.087 5.93542 225.668 5.57056C226.25 5.20571 226.9 5.02592 227.617 5.02592C228.177 5.02592 228.682 5.15019 229.129 5.39871C229.576 5.64724 229.914 5.95392 230.142 6.31878H230.218L230.142 5.19778V2.06213H231.858V13.222H230.221V12.1935H230.144C229.917 12.5478 229.579 12.8492 229.132 13.0977C228.685 13.3462 228.18 13.4705 227.619 13.4705C226.9 13.4705 226.25 13.2907 225.668 12.9259ZM229.029 11.5696C229.388 11.3501 229.676 11.0408 229.893 10.6336C230.113 10.2291 230.221 9.76643 230.221 9.24558C230.221 8.72738 230.113 8.26735 229.893 7.86548C229.674 7.46625 229.386 7.15689 229.029 6.93745C228.669 6.71801 228.283 6.60961 227.868 6.60961C227.453 6.60961 227.062 6.71801 226.699 6.93745C226.335 7.15689 226.044 7.46625 225.827 7.86548C225.607 8.2647 225.499 8.72474 225.499 9.24558C225.499 9.76643 225.607 10.2265 225.827 10.6336C226.046 11.0381 226.337 11.3501 226.699 11.5696C227.062 11.789 227.453 11.8974 227.868 11.8974C228.283 11.8974 228.669 11.789 229.029 11.5696Z"
      fill="#FEFEFE"></path>
    <path
      d="M235.149 12.9259C234.531 12.5611 234.047 12.0614 233.7 11.4216C233.351 10.7817 233.177 10.0626 233.177 9.2615C233.177 8.50271 233.346 7.79944 233.685 7.14904C234.023 6.49865 234.494 5.98309 235.096 5.59709C235.699 5.21372 236.384 5.02072 237.153 5.02072C237.954 5.02072 238.647 5.19786 239.234 5.5495C239.821 5.90378 240.268 6.38496 240.575 6.99834C240.881 7.61172 241.035 8.30178 241.035 9.07115C241.035 9.21656 241.019 9.39899 240.987 9.61578H234.893C234.956 10.3534 235.218 10.9219 235.681 11.3237C236.143 11.723 236.68 11.9239 237.293 11.9239C237.783 11.9239 238.206 11.8128 238.563 11.5881C238.922 11.366 239.21 11.062 239.427 10.676L240.876 11.3607C240.503 12.0164 240.014 12.5293 239.411 12.9048C238.808 13.2776 238.087 13.4653 237.246 13.4653C236.466 13.4706 235.768 13.2908 235.149 12.9259ZM239.287 8.31235C239.266 8.0321 239.179 7.75449 239.023 7.47953C238.867 7.20456 238.631 6.9719 238.314 6.78683C237.997 6.59912 237.611 6.50658 237.153 6.50658C236.603 6.50658 236.138 6.6705 235.757 6.99834C235.377 7.32618 235.115 7.76507 234.969 8.315H239.287V8.31235Z"
      fill="#FEFEFE"></path>
    <path
      d="M243.811 12.9259C243.229 12.561 242.769 12.0613 242.431 11.4215C242.092 10.7817 241.923 10.0573 241.923 9.24823C241.923 8.43655 242.092 7.71213 242.431 7.07493C242.769 6.43511 243.229 5.93542 243.811 5.57056C244.392 5.20571 245.043 5.02592 245.759 5.02592C246.32 5.02592 246.825 5.15019 247.271 5.39871C247.718 5.64724 248.057 5.95392 248.284 6.31878H248.361L248.284 5.19778V2.06213H250V13.222H248.363V12.1935H248.287C248.059 12.5478 247.721 12.8492 247.274 13.0977C246.827 13.3462 246.322 13.4705 245.762 13.4705C245.043 13.4705 244.392 13.2907 243.811 12.9259ZM247.171 11.5696C247.531 11.3501 247.819 11.0408 248.036 10.6336C248.255 10.2291 248.363 9.76643 248.363 9.24558C248.363 8.72738 248.255 8.26735 248.036 7.86548C247.816 7.46625 247.528 7.15689 247.171 6.93745C246.811 6.71801 246.425 6.60961 246.01 6.60961C245.595 6.60961 245.204 6.71801 244.842 6.93745C244.477 7.15689 244.186 7.46625 243.969 7.86548C243.75 8.2647 243.641 8.72474 243.641 9.24558C243.641 9.76643 243.75 10.2265 243.969 10.6336C244.189 11.0381 244.48 11.3501 244.842 11.5696C245.204 11.789 245.595 11.8974 246.01 11.8974C246.423 11.8974 246.811 11.789 247.171 11.5696Z"
      fill="#FEFEFE"></path>
    <path
      d="M187.869 29.8176C187.084 29.8176 186.38 29.5884 185.754 29.1302C185.128 28.6721 184.696 28.0285 184.458 27.2002L185.86 26.6318C186 27.1518 186.247 27.5791 186.6 27.9141C186.961 28.24 187.393 28.4032 187.895 28.4032C188.362 28.4032 188.759 28.2842 189.085 28.0462C189.411 27.7996 189.574 27.4646 189.574 27.0416C189.574 26.6537 189.429 26.3365 189.138 26.0898C188.856 25.8341 188.358 25.5787 187.644 25.3231L187.049 25.1115C186.415 24.8913 185.881 24.574 185.45 24.1597C185.018 23.7454 184.802 23.1992 184.802 22.5205C184.802 22.0534 184.93 21.6216 185.185 21.225C185.441 20.8285 185.793 20.5157 186.243 20.2865C186.701 20.0485 187.217 19.9295 187.79 19.9295C188.618 19.9295 189.279 20.1323 189.772 20.5376C190.266 20.9342 190.597 21.3837 190.764 21.886L189.429 22.4544C189.332 22.1549 189.147 21.8905 188.874 21.6613C188.6 21.4321 188.248 21.3176 187.816 21.3176C187.384 21.3176 187.018 21.4278 186.719 21.6481C186.428 21.8683 186.283 22.1504 186.283 22.4941C186.283 22.8201 186.415 23.089 186.679 23.3005C186.944 23.512 187.358 23.7148 187.922 23.9086L188.517 24.1069C189.327 24.389 189.953 24.7591 190.394 25.2173C190.843 25.6668 191.068 26.2704 191.068 27.0284C191.068 27.6452 190.909 28.1652 190.592 28.5882C190.275 29.0025 189.869 29.3108 189.376 29.5136C188.891 29.7164 188.389 29.8176 187.869 29.8176ZM194.789 29.8176C193.97 29.8176 193.344 29.5752 192.912 29.0906C192.489 28.597 192.278 27.9141 192.278 27.0416V22.8642H193.732V26.8433C193.732 27.3898 193.859 27.7996 194.115 28.0727C194.379 28.3458 194.723 28.4825 195.146 28.4825C195.49 28.4825 195.794 28.3944 196.058 28.2181C196.323 28.033 196.525 27.7906 196.666 27.491C196.807 27.1915 196.878 26.8697 196.878 26.526V22.8642H198.332V29.6061H196.957V28.7337H196.878C196.693 29.0509 196.406 29.3108 196.019 29.5136C195.631 29.7164 195.221 29.8176 194.789 29.8176ZM203.08 29.8176C202.41 29.8176 201.806 29.6635 201.269 29.355C200.74 29.0464 200.326 28.6234 200.026 28.0859C199.735 27.5394 199.59 26.9226 199.59 26.2352C199.59 25.5478 199.735 24.9352 200.026 24.3977C200.326 23.8512 200.74 23.424 201.269 23.1154C201.806 22.8069 202.41 22.6527 203.08 22.6527C203.82 22.6527 204.45 22.8201 204.97 23.1551C205.49 23.4901 205.86 23.9437 206.08 24.5167L204.745 25.0719C204.446 24.358 203.877 24.0011 203.04 24.0011C202.679 24.0011 202.344 24.0936 202.035 24.2787C201.736 24.4638 201.493 24.7282 201.308 25.0719C201.132 25.4069 201.044 25.7945 201.044 26.2352C201.044 26.6759 201.132 27.068 201.308 27.4117C201.493 27.7554 201.736 28.0198 202.035 28.2049C202.344 28.39 202.679 28.4825 203.04 28.4825C203.463 28.4825 203.824 28.39 204.124 28.2049C204.433 28.0111 204.666 27.7377 204.825 27.3853L206.133 27.9537C205.878 28.5266 205.49 28.9803 204.97 29.3153C204.45 29.6503 203.82 29.8176 203.08 29.8176ZM207.306 22.8642H208.694V23.8557H208.76C208.909 23.512 209.17 23.2299 209.54 23.0097C209.91 22.7804 210.302 22.666 210.716 22.666C211.042 22.666 211.315 22.7101 211.536 22.7981V24.3052C211.148 24.1642 210.8 24.0936 210.491 24.0936C210.157 24.0936 209.857 24.1817 209.593 24.358C209.337 24.5344 209.134 24.7723 208.984 25.0719C208.835 25.3627 208.76 25.6845 208.76 26.0369V29.6061H207.306V22.8642ZM215.33 29.8176C214.669 29.8176 214.074 29.6635 213.545 29.355C213.025 29.0464 212.616 28.6234 212.316 28.0859C212.025 27.5394 211.88 26.9271 211.88 26.2484C211.88 25.6052 212.021 25.0103 212.303 24.4638C212.594 23.9086 212.994 23.4678 213.506 23.1419C214.017 22.8159 214.598 22.6527 215.251 22.6527C215.929 22.6527 216.515 22.8026 217.009 23.1022C217.511 23.4017 217.89 23.8115 218.146 24.3316C218.41 24.8516 218.542 25.4375 218.542 26.0898C218.542 26.2132 218.529 26.3674 218.503 26.5525H213.334C213.387 27.1783 213.607 27.6629 213.995 28.0066C214.391 28.3416 214.85 28.5089 215.37 28.5089C215.784 28.5089 216.141 28.4164 216.44 28.2313C216.749 28.0375 216.996 27.7774 217.181 27.4514L218.41 28.033C218.093 28.5882 217.679 29.0245 217.168 29.3417C216.656 29.659 216.044 29.8176 215.33 29.8176ZM217.062 25.442C217.044 25.2041 216.969 24.9706 216.837 24.7414C216.705 24.5035 216.502 24.3052 216.229 24.1465C215.965 23.9879 215.638 23.9086 215.251 23.9086C214.784 23.9086 214.387 24.0495 214.061 24.3316C213.744 24.6047 213.523 24.9749 213.4 25.442H217.062Z"
      fill="#FEFEFE"></path>
  </svg>

  <nav class="text-white">
    <ul class="flex gap-4">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Speakers</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Paquetes</a></li>
    </ul>
  </nav>
</header>
