---
import { ThemeToggle } from '../components/themes/ThemeToggle'
import Logo from '../assets/Logo.astro'
import LogoShort from '../assets/Logo-short.astro'
---

<nav
  class='fixed left-0 top-0 z-20 w-full border-b-2 border-black bg-gray dark:border-white dark:bg-black dark:text-white'
>
  <div class='mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4'>
    <a href='/#' aria-current='page' aria-label='Return to home'>
      <div class='block md:hidden'>
        <LogoShort />
      </div>
      <div class='hidden md:block'>
        <Logo />
      </div>
    </a>

    <div class='flex md:order-2 md:hidden'>
      <ThemeToggle client:media='(max-width: 767px)' />

      <button
        data-collapse-toggle='navbar-sticky'
        type='button'
        class='text-gray-500 dark:text-gray-400 hover:bg-gray-200 focus:ring-gray-600 inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm focus:outline-none focus:ring-2 md:hidden'
        aria-controls='navbar-sticky'
        aria-expanded='false'
      >
        <span class='sr-only'>Open main menu</span>
        <svg
          class='h-5 w-5'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 17 14'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 1h15M1 7h15M1 13h15'></path>
        </svg>
      </button>
    </div>

    <div
      class='hidden w-full items-center justify-between space-x-4 md:order-1 md:flex md:w-auto'
      id='navbar-sticky'
    >
      <ul
        class='mt-4 flex flex-col rounded-xl border-2 bg-white p-4 font-medium dark:bg-black md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-transparent md:p-0'
      >
        <li>
          <a href='#speakers' class='block py-2 hover:text-blue'>Speakers</a>
        </li>

        <li>
          <a href='#agenda' class='block py-2 hover:text-red'>Agenda</a>
        </li>

        <li>
          <a href='#sponsors' class='block py-2 hover:text-yellow'>Sponsors</a>
        </li>

        <li>
          <a href='#organizadores' class='block py-2 hover:text-green'>Equipo</a>
        </li>

        <li>
          <a href='#faq' class='block py-2 hover:text-red'>Preguntas frecuentes</a>
        </li>

        <li>
          <a href='/pastEvents/' class='block py-2 hover:text-red'>Eventos Pasados</a>
        </li>
      </ul>

      <div class='hidden h-8 md:block'>
        <ThemeToggle client:media='(min-width: 768px)' />
      </div>
    </div>
  </div>
</nav>

<script>
  document.querySelector('[data-collapse-toggle]').addEventListener('click', function () {
    const target = document.getElementById(this.getAttribute('aria-controls'))
    const expanded = this.getAttribute('aria-expanded') === 'true' || false

    this.setAttribute('aria-expanded', !expanded)
    target.classList.toggle('hidden')
  })
</script>
