---
import Icon from '../components/Icon.astro'

---

<hero>
  <div class="text-center">
    <h1 class="text-8xl text-white font-google">Google I/O<br />Sucre 2023</h1>
    <p class="text-white py-10">
      Comparte junto a nosotros esta<br />asombrosa experiencia
    </p>
  </div>
  <Icon icon="bici" />
</hero>