---
import { Organizers } from './Organizers'
import SectionTitle from './SectionTitle.astro'
---

<SectionTitle id='organizadores' title='Organizadores' />
<div class='px-2'>
  <Organizers client:visible />
</div>
