---
import { Organizer } from './Organizer'
import SectionTitle from './SectionTitle.astro'
import organizersData from '../data/organizers.json'
---

<SectionTitle id='organizadores' title='Organizadores' />
<div class='max-w-screen-md mx-auto grid grid-cols-2 md:grid-cols-3 gap-8 px-4'>
  {
    organizersData
      .sort((a, b) => b.type - a.type)
      .map((organizerProps, i) => (
        <Organizer id={i} {...organizerProps} client:visible />
      ))
  }
</div>
