---
const { title, mobileScreenshot, desktopScreenshot, href } = Astro.props
---

<div class='flex flex-col rounded-xl h-full bg-gray-700 p-2 sm:p-6'>
  <a href={href}>
    <h3 class='text-white font-semibold text-2xl mb-4'>
      {title}
    </h3>

    <picture>
      <source
        srcset={mobileScreenshot}
        type='image/webp'
        media='(max-width: 1023px)'
      />
      <source
        srcset={desktopScreenshot}
        type='image/webp'
        media='(min-width: 1024px)'
      />

      <img src='' width='100%' class='mx-auto rounded-md' />
    </picture>
  </a>
</div>
