---
import { ThemeToggle } from './header/ThemeToggle'
import Logo from '../assets/Logo.astro'
import LogoShort from '../assets/Logo-short.astro'
---

<nav
  class='fixed left-0 top-0 z-20 w-full border-b-2 border-black bg-gray dark:border-white dark:bg-black dark:text-white'
>
  <div class='mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4'>
    <a href='/' aria-current='page' aria-label='Return to home'>
      <div class='block md:hidden'>
        <LogoShort />
      </div>
      <div class='hidden md:block'>
        <Logo />
      </div>
    </a>

    <div class='flex md:order-2 md:hidden'>
      <ThemeToggle client:load />
    </div>

    <div
      class='hidden w-full items-center justify-between space-x-4 md:order-1 md:flex md:w-auto'
      id='navbar-sticky'
    >
      <div class='hidden h-8 md:block'>
        <ThemeToggle client:load />
      </div>
    </div>
  </div>
</nav>
