---
const { href = "/" } = Astro.props;
---

<div class="w-full flex justify-center pb-8">
    <a 
      href= {href} 
      class="bg-blue hover:bg-orange text-white font-medium py-2 px-6 rounded-xl transition-colors duration-200 shadow-lg mx-auto fixed bottom-6 z-10"
    >
    Volver al inicio
  </a>
</div>