---
const { title, speaker, time, image } = Astro.props

const cardActive = speaker ? 'schedule-card' : 'schedule-card-active'
---

<div class={cardActive}>
  <div class='flex items-start gap-4 flex-row ml-4'>
    {
      image && (
        <div class='w-16 h-16 bg-gray-300 rounded-full pt-2 flex-shrink-0'>
          <img
            src={image}
            alt={`Foto de ${speaker || title}`}
            class='h-16 w-16 rounded-full border-2 object-cover'
            loading='lazy'
          />
        </div>
      )
    }
    {
      !speaker && (
        <div class='w-full p-1 text-center'>
          <p class='text-blue-600 font-bold text-lg sm:text-xl text-blue-five dark:text-blue-one'>
            { time }
          </p>
          <p class='text-gray-700 font-bold mt-1 text-sm sm:text-base'>
            { title }
          </p>
        </div>
      )
    }
    {
      speaker && (
        <div class='flex-1 p-1 pr-4'>
          <p class='text-blue-600 font-bold text-lg sm:text-xl text-blue-five dark:text-blue-one'>
            { time }
          </p>
          <p class='text-gray-700 mt-1 text-sm sm:text-base'>
            { title }
          </p>
          <p class='text-blue-500 font-bold text-right mt-2 text-lg sm:text-xl text-blue-five dark:text-blue-one'>
            { speaker }
          </p>
        </div>
      )
    }
  </div>
  <hr class='border border-blue-five dark:border-blue-one'>
</div>

<style>
  .schedule-card {
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  .schedule-card:hover {
    transform: translateX(-6px);
    transform: translateX(-6px);
    box-shadow: 8px 8px 0 0 #165185;
  }

  .schedule-card-active {
    transform: translateX(-6px);
    transform: translateX(-6px);
    box-shadow: 8px 8px 0 0 #165185;
  }
</style>
