---
const { time, title, speaker } = Astro.props
const textColor = !speaker ? 'text-blue font-semibold' : ''
---

<div class='py-2 w-72 md:w-80 lg:w-[31rem] space-y-1'>
  <p class='w-40 font-semibold font-sofia text-md text-blue'>
    {time}
  </p>
  <p class={`font-medium text-md lg:text-xl leading-5 ${textColor}`}>
    {title}
  </p>
  <p class='text-sm lg:text-md'>{speaker}</p>
</div>
