---
import Facebook from '../assets/icons/social/Facebook.astro'
import Instagram from '../assets/icons/social/Instagram.astro'
import Tiktok from '../assets/icons/social/Tiktok.astro'
import Linkedin from '../assets/icons/social/Linkedin.astro'
import Discord from '../assets/icons/social/Discord.astro'
import Twitter from '../assets/icons/social/Twitter.astro'
---

<div class='pt-4 lg:py-0 flex items-center space-x-8'>
  <a href='https://www.facebook.com/' target='_blank' aria-label='Facebook page'>
    <Facebook />
  </a>
  <a href='https://www.instagram.com/gdgsucre/' target='_blank' aria-label='Instagram page'>
    <Instagram />
  </a>
  <a href='https://www.tiktok.com/@gdgsucre' target='_blank' aria-label='Tiktok page'>
    <Tiktok />
  </a>
  <a href='https://www.linkedin.com/company/gdgsucre' target='_blank' aria-label='Linkedin page'>
    <Linkedin />
  </a>
  <a href='https://discord.com/invite/vcmjfcA7' target='_blank' aria-label='Discord invite'>
    <Discord />
  </a>
  <a href='https://twitter.com/gdg_sucre' target='_blank' aria-label='Twitter profile'>
    <Twitter />
  </a>
</div>
