---
import Facebook from './icons/social/Facebook.svg?url'
import Twitter from './icons/social/Twitter.svg?url'
import Instagram from './icons/social/Instagram.svg?url'
import Linkedin from './icons/social/Linkedin.svg?url'
import Tiktok from './icons/social/Tiktok.svg?url'

const socialIcons = [
  {
    icon: Facebook,
    link: 'https://www.facebook.com/gdgsucre',
    alt: 'Facebook'
  },
  {
    icon: Instagram,
    link: 'https://www.instagram.com/gdgsucre',
    alt: 'Instagram'
  },
  {
    icon: Twitter,
    link: 'https://twitter.com/gdg_sucre',
    alt: 'Twitter'
  },
  {
    icon: Tiktok,
    link: 'https://www.tiktok.com/@gdgsucre?lang=en',
    alt: 'Tiktok'
  },
  {
    icon: Linkedin,
    link: 'https://www.linkedin.com/company/gdgsucre',
    alt: 'Linkedin'
  }
]
---

<div class="flex mt-4 items-center space-x-10 sm:justify-center sm:mt-0">
  {
    socialIcons.map(({ icon, link, alt }) => (
      <a
        class="fill-gray-500 hover:text-gray-900 dark:hover:text-white"
        href={link}
        target="_blank"
      >
        <img src={icon} alt={alt}/>
      </a>
    ))
  }
</div>
