---
import Facebook from './icons/social/Facebook.svg'
import Twitter from './icons/social/Twitter.svg'
import Instagram from './icons/social/Instagram.svg'
import Linkedin from './icons/social/Linkedin.svg'
import Tiktok from './icons/social/Tiktok.svg'
import Discord from './icons/social/Discord.svg'

const socialIcons = [
  {
    icon: Facebook,
    link: 'https://www.facebook.com/gdgsucre',
    alt: 'Facebook'
  },
  {
    icon: Instagram,
    link: 'https://www.instagram.com/gdgsucre/',
    alt: 'Instagram'
  },
  {
    icon: Twitter,
    link: 'https://x.com/gdg_sucre',
    alt: 'Twitter'
  },
  {
    icon: Tiktok,
    link: 'https://www.tiktok.com/@gdgsucre',
    alt: 'Tiktok'
  },
  {
    icon: Linkedin,
    link: 'https://www.linkedin.com/company/gdgsucre',
    alt: 'Linkedin'
  },
  {
    icon: Discord,
    link: 'https://discord.gg/vcmjfcA7',
    alt: 'Discord'
  }
]
---

<div class='pt-4 lg:py-0 flex items-center space-x-8'>
  {
    socialIcons.map(({ icon, link, alt }) => (
      <a class='fill-white' href={link} target='_blank'>
        <img src={icon.src} alt={alt} width='24' height='24' />
      </a>
    ))
  }
</div>
