---
import SectionTitle from './SectionTitle.astro'
import { Speaker } from './Speaker'
const speakers = [
  {
    img: '/speakers/alejandro-n칰침ez.webp',
    name: 'Alejandro N칰침ez 游游'
  },
  {
    img: '/speakers/antonio-giler.webp',
    name: 'Antonio Giler 游쀯릖'
  },
  {
    img: '/speakers/brian-castillo.webp',
    name: 'Brian Castillo 游왫릖'
  },
  {
    img: '/speakers/brian-vega.webp',
    name: 'Brian Vega 游游'
  },
  {
    img: '/speakers/carlos-collazos.webp',
    name: 'Carlos Collazos 游游'
  },
  {
    img: '/speakers/david-rios.webp',
    name: 'David R칤os 游游'
  },
  {
    img: '/speakers/hansy-schmitt.webp',
    name: 'Hansy Schmitt 游왫릖'
  },
  {
    img: '/speakers/jean-roldan.webp',
    name: 'Jean Rold치n 游쀯릖'
  },
  {
    img: '/speakers/nicolas-leclaros.webp',
    name: 'Nicol치s Leclaros 游뻟릖'
  },
  {
    img: '/speakers/pablo-noya.webp',
    name: 'Pablo Noya 游游'
  },
  {
    img: '/speakers/paolo-pinto.webp',
    name: 'Paolo Pinto 游游'
  },
  {
    img: '/speakers/sergio-fernandez.webp',
    name: 'Sergio Fern치ndez 游游'
  }
]
---

<SectionTitle id='speakers' title='Speakers' />
<div class='max-w-screen-md mx-auto grid grid-cols-2 md:grid-cols-3 gap-8 px-4'>
  {
    speakers.map((speakerProps, i) => (
      <Speaker id={i} {...speakerProps} client:visible />
    ))
  }
</div>
