---
import SectionTitle from './SectionTitle.astro'
import { Speaker } from './Speaker'
const spekers = [
  {
    id: 1,
    img: '/ariel-solis.png',
    speaker: 'Ariel Solis'
  },
  {
    id: 2,
    img: '/carlos-huaman.png',
    speaker: 'Carlos Huaman'
  },
  {
    id: 3,
    img: '/david-rios.png',
    speaker: 'David Rios'
  }
]
---

<SectionTitle title='Speakers' />
<div class='max-w-screen-md mx-auto columns-3'>
  {
    spekers.map(({ id, img, speaker }) => (
      <Speaker id={id} img={img} speaker={speaker} client:visible />
    ))
  }
</div>
