---
import SectionTitle from './SectionTitle.astro'
import { Speaker } from './Speaker'
const spekers = [
  {
    id: 1,
    img: '/ariel-solis.png',
    speaker: 'Ariel Ortuño'
  },
  {
    id: 2,
    img: '/carlos-huaman.png',
    speaker: 'Carlo Huamán'
  },
  {
    id: 3,
    img: '/david-rios.png',
    speaker: 'David Rios'
  },
  {
    id: 4,
    img: '/gustavo-lizarraga.png',
    speaker: 'Gustavo Lizárraga'
  },
  {
    id: 5,
    img: '/diego-velasquez.png',
    speaker: 'Diego Velásquez'
  },
  {
    id: 6,
    img: '/ivan-sangueza.png',
    speaker: 'Iván Sangueza'
  },
  {
    id: 7,
    img: '/mauricio-arce.png',
    speaker: 'Mauricio Arce'
  },
  {
    id: 8,
    img: '/yury-camacho.png',
    speaker: 'Yury Camacho'
  },
  {
    id: 9,
    img: 'karol-catacora.png',
    speaker: 'Karol Catacora'
  },
  {
    id: 10,
    img: '/sergio-ochoa.png',
    speaker: 'Sergio Ochoa'
  },
  {
    id: 11,
    img: '/nathaly-alarcon.png',
    speaker: 'Nathaly Alarcón'
  }
]
---

<SectionTitle title='Speakers' />
<div class='max-w-screen-md mx-auto columns-2 md:columns-3 gap-16'>
  {
    spekers.map(({ id, img, speaker }) => (
      <Speaker id={id} img={img} speaker={speaker} client:visible />
    ))
  }
</div>
