---
import SectionTitle from './SectionTitle.astro'
import hombre1 from '../../public/ariel-solis.png'
---

<SectionTitle title="Speakers" />
<div class="max-w-screen-md content mx-auto">
  <img src={hombre1} alt="" />
  <span class="text-yellow text-3xl font-bold">Ariel Solis</span>
</div>
