---
import SectionTitle from './SectionTitle.astro'
import { Speaker } from './Speaker'
const speakers = [
  {
    img: '/speakers/alejandro-núñez.png',
    name: 'Alejandro Núñez'
  },
  {
    img: '/speakers/antonio-giler.png',
    name: 'Antonio Giler'
  },
  {
    img: '/speakers/brian-castillo.png',
    name: 'Brian Castillo'
  },
  {
    img: '/speakers/brian-vega.png',
    name: 'Brian Vega'
  },
  {
    img: '/speakers/carlos-collazos.png',
    name: 'Carlos Collazos'
  },
  {
    img: '/speakers/david-rios.png',
    name: 'David Ríos'
  },
  {
    img: '/speakers/hansy-schmitt.png',
    name: 'Hansy Schmitt'
  },
  {
    img: '/speakers/jean-roldan.png',
    name: 'Jean Roldán'
  },
  {
    img: '/speakers/nicolas-leclaros.png',
    name: 'Nicolás Leclaros'
  },
  {
    img: '/speakers/pablo-noya.png',
    name: 'Pablo Noya'
  },
  {
    img: '/speakers/paolo-pinto.png',
    name: 'Paolo Pinto'
  },
  {
    img: '/speakers/sergio-fernandez.png',
    name: 'Sergio Fernández'
  }
]
---

<SectionTitle id='speakers' title='Speakers' />
<div class='max-w-screen-md mx-auto grid grid-cols-2 md:grid-cols-3 gap-8 px-4'>
  {
    speakers.map((speakerProps, i) => (
      <Speaker id={i} {...speakerProps} client:visible />
    ))
  }
</div>
