---
import { Image } from 'astro:assets'

import SectionTitle from './SectionTitle.astro'

import cba from '../assets/sponsors/cba.jpeg'
import tenMinds from '../assets/sponsors/10minds.jpg'
import droBots from '../assets/sponsors/dro-bots.png'
import education_usa from '../assets/sponsors/education_usa.jpeg'
import unosquare from '../assets/sponsors/unosquare.jpg'
import salvietti from '../assets/sponsors/salvietti.webp'

const sponsors = [
  {
    name: '10minds',
    logo: tenMinds,
    url: 'https://10minds.org/'
  },
  {
    name: 'CBA',
    logo: cba,
    url: 'https://www.facebook.com/CBAFanPage/'
  },
  {
    name: 'Dro-bots accesorios para robótica y electrónica',
    logo: droBots,
    url: 'https://www.facebook.com/profile.php?id=100083024454287'
  },
  {
    name: 'Education USA',
    logo: education_usa,
    url: 'https://www.facebook.com/EducationUSABolivia'
  },
  {
    name: 'Salvietti',
    logo: salvietti,
    url: 'https://www.facebook.com/salvietti.oficial'
  },
  {
    name: 'Unosquare',
    logo: unosquare,
    url: 'https://www.unosquare.com/'
  }
]
---

<SectionTitle id='sponsors' title='Sponsors' />
<div class='max-w-screen-md p-4 mx-auto grid grid-cols-2 gap-8 md:grid-cols-3'>
  {
    sponsors.map(sponsor => (
      <div class='flex justify-center items-center'>
        <a href={sponsor.url} target='_blank'>
          <Image src={sponsor.logo} alt={sponsor.name} />
        </a>
      </div>
    ))
  }
</div>
