---
import SectionTitle from './SectionTitle.astro'
---

<SectionTitle id='sponsors' title='Sponsors' />
<div class='max-w-screen-md mx-auto grid grid-cols-2 gap-2'>
  <div>
    <a href='https://www.facebook.com/profile.php?id=100063753325772'>
      <img
        class='h-auto max-w-full'
        src='/sponsors/itera.png'
        alt='itera soluciones digitales'
      />
    </a>
  </div>
</div>
