---
import { Image } from 'astro:assets'
import SectionTitle from './SectionTitle.astro'

import sawers from '../assets/sponsors/sawers.webp'
import tenMinds from '../assets/sponsors/10minds.jpg'
import droBots from '../assets/sponsors/dro-bots.png'
import jetBrains from '../assets/sponsors/jetbrains.svg'
import dh from '../assets/sponsors/dh.png'
import delve from '../assets/sponsors/delve.jpg'
import napp from '../assets/sponsors/napp.png'
import helvetas from '../assets/sponsors/helvetas.png'
import sistemaEmprendedor from '../assets/sponsors/sistema_emprendedor.png'

const sponsors = [
  {
    name: 'Sawers',
    logo: sawers,
    url: 'https://tienda.sawers.com.bo/',
    class: 'p-2 md:p-4 md:col-span-2'
  },
  {
    name: '10minds',
    logo: tenMinds,
    url: 'https://10minds.org/',
    class: 'md:p-2'
  },
  {
    name: 'NAPP',
    logo: napp,
    url: 'https://fundacion-napp.org/',
    class: 'p-2 sm:p-8 md:col-span-2'
  }
]
---

<SectionTitle id='sponsors' title='Sponsors' />

<div class='bg-sponsors-bg border-y-4 dark:border-black md:my-4'>
  <div class='mx-auto grid max-w-screen-lg grid-cols-2 gap-8 p-4 sm:p-8 md:grid-cols-5'>
    {
      sponsors.map(sponsor => (
        <a
          href={sponsor.url}
          target='_blank'
          class:list={[
            'flex h-36 items-center justify-center border-4 border-black bg-white transition-all duration-200 hover:-translate-x-1 hover:-translate-y-1 hover:scale-105 hover:shadow-[8px_8px_0px_0px_black]',
            sponsor.class
          ]}
        >
          <Image src={sponsor.logo} alt={sponsor.name} class='h-28 object-contain' />
        </a>
      ))
    }
  </div>
</div>
