---
import SectionTitle from './SectionTitle.astro'
const sponsors = [
  {
    name: 'itera soluciones digitales',
    logo: '/sponsors/itera.png',
    url: 'https://www.facebook.com/profile.php?id=100063753325772'
  },
  {
    name: 'Dro-bots accesorios para robótica y electrónica',
    logo: '/sponsors/dro-bots.png',
    url: 'https://www.facebook.com/profile.php?id=100083024454287'
  },
  {
    name: 'Facultad de Ciencias Económicas y Empresariales',
    logo: 'https://economicas.usfx.bo/wp-content/uploads/2017/11/escudo-fac-economia-1.png',
    url: 'https://economicas.usfx.bo/'
  },
  {
    name: 'XYZ Sistema Profesional de Sonido y Luces',
    logo: '/sponsors/xyz.jpg',
    url: 'https://www.facebook.com/profile.php?id=100057052885906&mibextid=ZbWKwL'
  },
  {
    name: 'ITGroup Systems',
    logo: '/sponsors/it-group.png',
    url: 'https://www.facebook.com/ITGroupSystems/'
  },
  {
    name: 'Cooperativa de Ahorro y Crédito Abierta Magisterio Rural de Chuquisaca R.L.',
    logo: '/sponsors/magisterio-rural.png',
    url: 'https://www.facebook.com/CMRChuq/'
  },
  {
    name: 'JetBrains',
    logo: '/sponsors/jetbrains.webp',
    url: 'https://www.facebook.com/JetBrains'
  }
]
---

<SectionTitle id='sponsors' title='Sponsors' />
<div class='max-w-screen-md px-2 mx-auto grid grid-cols-2 gap-4 md:grid-cols-3'>
  {
    sponsors.map(sponsor => (
      <div class='flex justify-center items-center'>
        <a href={sponsor.url} target='_blank'>
          <img class='max-h-44' src={sponsor.logo} alt={sponsor.name} />
        </a>
      </div>
    ))
  }
</div>
