<a
  href='https://gdg.community.dev/gdg-sucre/'
  class='flex items-center space-x-2 lg:space-x-4 hover:text-blue'
  target='_blank'
>
  <svg
    class='w-6 lg:w-10'
    width='32'
    viewBox='0 0 67 32'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <g id='<Group>'>
      <g id='<Group>_2'>
        <g id='<Group>_3'>
          <path
            id='<Path>'
            d='M2.63965 11.4269L21.2327 0.681131C23.707 -0.732786 26.959 0.115566 28.4436 2.66062C29.9282 5.20566 29.0091 8.38697 26.4641 9.87159L15.7891 16.0928L2.63965 11.4269Z'
            fill='#EA4335'></path>
        </g>
        <g id='<Group>_4'>
          <path
            id='<Path>_2'
            d='M21.2323 31.2905L2.63928 20.5447C0.0942355 19.1308 -0.75408 15.8788 0.730532 13.3338C2.14445 10.8594 5.39642 9.94036 7.94147 11.425L26.4637 22.1707C29.0088 23.5847 29.9279 26.8367 28.4433 29.3817C27.4535 31.0784 25.6861 31.9975 23.848 31.9975C22.929 31.9975 22.0807 31.7854 21.2323 31.2905Z'
            fill='#4285F4'></path>
        </g>
        <g id='<Group>_5'>
          <path
            id='<Path>_3'
            d='M37.7049 29.3844C36.2909 26.8393 37.1393 23.5873 39.6844 22.1734L50.5715 15.8108L63.5088 20.5474L44.9866 31.2932C44.1382 31.788 43.2191 32.0001 42.3001 32.0001C40.462 32.0001 38.6946 31.0811 37.7049 29.3844Z'
            fill='#FBBC04'></path>
        </g>
        <g id='<Group>_6'>
          <path
            id='<Path>_4'
            d='M58.2071 20.5466L39.6848 9.87159C37.1398 8.38697 36.2914 5.20567 37.7053 2.66062C39.1899 0.115566 42.4419 -0.732786 44.987 0.681131L63.5093 11.4269C66.0543 12.9115 66.9026 16.0928 65.418 18.6379C64.499 20.3346 62.661 21.2536 60.8936 21.2536C59.9745 21.2536 59.0554 21.0415 58.2071 20.5466Z'
            fill='#0F9D58'></path>
        </g>
      </g>
    </g>
  </svg>

  <span> Google Developer Groups Sucre</span>
</a>
