---
import GDGLogo from 'src/assets/GDG.svg'
---

<a
  href='https://gdg.community.dev/gdg-sucre/'
  class='flex items-center space-x-2 hover:text-blue lg:space-x-4'
  target='_blank'
>
  <GDGLogo class='w-6 lg:w-10' width='32' />

  <span> Google Developer Groups Sucre</span>
</a>
