---
const { label, name, ...rest } = Astro.props
---

<div class='space-y-2'>
  <label for={name} class='block font-medium'>{label}</label>
  <input
    class='w-full border border-black bg-white p-2 focus:ring-0 dark:border-white dark:bg-black'
    id={name}
    name={name}
    {...rest}
  />
</div>
