---
import { Image } from 'astro:assets'

import 'swiper/css'
import 'swiper/css/effect-cards'

import SheStarts from 'src/assets/packages/SheStarts.webp'
import SheCodes from 'src/assets/packages/SheCodes.webp'
import SheLeads from 'src/assets/packages/SheLeads.webp'
---

<div class='overflow-hidden px-8 py-4'>
  <div class='mx-auto md:w-2/3'>
    <div class='swiper'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <Image
            class='rounded-xl border border-green-four bg-gray'
            src={SheStarts}
            alt='Paquete SheStarts'
          />
        </div>
        <div class='swiper-slide'>
          <Image
            class='rounded-xl border border-green-four bg-gray'
            src={SheCodes}
            alt='Paquete SheCodes'
          />
        </div>
        <div class='swiper-slide'>
          <Image
            class='rounded-xl border border-green-four bg-gray'
            src={SheLeads}
            alt='Paquete SheLeads'
          />
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  import Swiper from 'swiper/bundle'

  new Swiper('.swiper', {
    autoplay: {
      delay: 3000,
      disableOnInteraction: true
    },
    effect: 'cards',
    grabCursor: true
  })
</script>
