---
import { actions } from 'astro:actions'
import Input from './Input.astro'

const { email, uid } = Astro.props
---

<div class='mx-auto flex max-w-screen-sm flex-col space-y-4 pb-16'>
  <div class='space-y-2'>
    <h1 class='text-2xl font-bold md:text-4xl'>Regístrate al evento</h1>
    <span class='block text-black/90 dark:text-white/90'>
      El evento es gratuito e incluye almuerzo. <br /> ¡Los cupos son limitados!
    </span>
  </div>

  <form method='POST' action={actions.register}>
    <input type='hidden' id='uid' name='uid' value={uid} />

    <Input label='Email' type='email' name='email' value={email} disabled required />
    <span class='block bg-green/80 p-2 font-medium text-black/90 dark:bg-green/70 dark:text-white'>
      <b>Nota:</b> Los nombres y apellidos registrados aparecerán en el certificado.
    </span>

    <Input label='Nombre(s)' name='firstname' required />
    <Input label='Apellido(s)' name='lastname' required />
    <Input label='Número de teléfono' name='phone' required />
    <Input label='Carnet de identidad' name='ci' required />
    <Input label='(Opcional) Carnet universitario' name='cu' />

    <div class='my-4 space-y-2'>
      <label for='reasonToParticipate' class='block font-medium'>
        ¿Por qué te gustaría ser parte del evento?
      </label>
      <textarea
        class='w-full border border-black bg-white p-2 focus:ring-0 dark:border-white dark:bg-black'
        id='reasonToParticipate'
        name='reasonToParticipate'
        value=''
      >
      </textarea>
    </div>

    <Input
      label='(Opcional) ¿Tienes alguna alergia o restricción alimentaria?'
      name='dietaryRestriction'
    />

    <button
      class='mt-8 w-full border-2 border-black bg-blue p-2 font-medium text-white dark:border-white'
      type='submit'
    >
      Regístrate
    </button>
  </form>
</div>
