---
import Diplodocus from 'src/assets/Diplodocus.astro'
---

<div class='mx-auto'>
  <span class='md:text-xl'>
    ¡Se agotaron los cupos! Gracias por tu interés en participar, esperamos verte en próximos
    eventos.
  </span>
  <div class='mx-auto mt-8 flex flex-col items-center space-y-2'>
    <Diplodocus width='100' />
  </div>
</div>
