---
import { actions } from 'astro:actions'
import Input from './Input.astro'

const { email, uid } = Astro.props
---

<div class='mx-auto flex max-w-screen-sm flex-col pb-16'>
  <div class='space-y-2 md:space-y-4'>
    <h1 class='text-2xl font-bold md:text-4xl'>Regístrate al Evento</h1>
    <ul class='space list-disc space-y-2 pl-4 leading-tight'>
      <li>La entrada al evento es gratuita e incluye almuerzo.</li>
      <li>Los certificados se otorgarán a quienes asistan en la mañana y en la tarde.</li>
      <li>
        Revisaremos tus respuestas para confirmar la inscripción. Priorizando a quienes expliquen
        sus razones para participar.
      </li>
      <li>El nombre y apellido proporcionados se utilizarán para el certificado.</li>
    </ul>
  </div>

  <form method='POST' action={actions.register}>
    <input type='hidden' id='uid' name='uid' value={uid} />

    <Input label='Email' type='email' name='email' value={email} required />
    <Input title='Nombre(s)' name='firstname' required />
    <Input title='Apellido(s)' name='lastname' required />
    <Input
      title='Número de teléfono'
      subtitle='Incluye el código de país en caso de no ser de Bolivia.'
      name='phone'
      required
    />
    <Input title='Carnet de identidad' name='ci' required />
    <Input title='(Opcional) Carnet universitario' name='cu' />

    <div class='my-4 space-y-2'>
      <label for='reasonToParticipate' class='block font-medium'>
        ¿Por qué te gustaría ser parte del evento?
      </label>
      <textarea
        class='w-full border border-black bg-white p-2 focus:ring-0 dark:border-white dark:bg-black'
        id='reasonToParticipate'
        name='reasonToParticipate'
        value=''
      >
      </textarea>
    </div>

    <Input
      title='(Opcional) ¿Tienes alguna alergia o restricción alimentaria?'
      name='dietaryRestriction'
    />

    <button
      class='mt-6 w-full border-2 border-black bg-blue p-2 font-medium text-white dark:border-white'
      type='submit'
    >
      Regístrate
    </button>
  </form>
</div>
