---
import LogoShort from 'src/assets/Logo-short.astro'

const { firstname, lastname } = Astro.props
---

<div class='flex flex-col space-y-4 p-4'>
  <h1 class='mx-auto animate-bounce text-2xl'>¡Te esperamos en el evento!</h1>
  <div
    class='mx-auto w-fit space-y-4 rounded-3xl border-2 border-black bg-white p-4 dark:border-white dark:bg-black'
    data-atropos-offset='0'
  >
    <div class='flex space-x-2'>
      <LogoShort />
      <span class='self-baseline text-2xl font-semibold md:text-3xl'>DevFest Sucre 2024</span>
    </div>

    <h1 class='text-3xl font-medium md:mb-12 md:text-3xl'>
      {firstname}
      {lastname}
    </h1>
    <div class='space-x-1'>
      <span class='rounded-full border border-black px-2 dark:border-white dark:bg-black'>
        16 de Nov. 2024
      </span>
    </div>
    <span class='rounded-full border border-black px-2 dark:border-white dark:bg-black'>
      08:30
    </span>
  </div>
  <form action='/api/auth/signout'>
    <button
      class='mx-auto flex w-fit rounded-lg border-2 border-black bg-gray px-2 py-1 dark:border-white dark:bg-black'
      type='submit'
    >
      Cerrar sesión
    </button>
  </form>
</div>
