---
import '@fontsource/prompt'
import '@fontsource/noto-color-emoji'
import '@fontsource-variable/sofia-sans'

import Header from '@components/Header.astro'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>I/O Extended Sucre 2024</title>
    <meta name='description' content='I/O Extended Sucre 2024' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://www.gdgsucre.com/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Google IO Sucre 2024' />
    <meta property='og:description' content='Google IO Extended Sucre 2024' />
    <meta
      property='og:image'
      content='https://www.gdgsucre.com/opengraph.avif'
    />
    <meta property='og:image:type' content='image/gif' />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='www.gdgsucre.com/' />
    <meta property='twitter:url' content='https://www.gdgsucre.com/' />
    <meta name='twitter:title' content='www.gdgsucre.com/' />
    <meta name='twitter:description' content='www.gdgsucre.com/' />
    <!-- <meta
      name='twitter:image'
      content='https://gdgsucre.com/opengraph.jpg'
    /> -->

    <!-- Load light or dark mode -->
    <script is:inline>
      let theme = localStorage?.getItem('theme')

      if (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = 'dark'
      }

      if (theme === 'dark') {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

      window.localStorage.setItem('theme', theme || 'light')
    </script>
  </head>

  <body
    class='absolute inset-0 -z-10 h-full w-full bg-white dark:bg-black dark:text-white bg-[linear-gradient(to_right,#eeeeee_1px,transparent_1px),linear-gradient(to_bottom,#eeeeee_1px,transparent_1px)] bg-[size:4rem_4rem] dark:bg-[linear-gradient(to_right,#444,transparent_1px),linear-gradient(to_bottom,#444,transparent_1px)] font-google'
  >
    <Header />
    <slot />
    <style>
      :global(html) {
        scroll-behavior: smooth;
      }
      @media (prefers-reduced-motion: reduce) {
        :global(html) {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
