---
import '@fontsource/prompt'
import '@fontsource/noto-color-emoji'
import '@fontsource/quantico'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>WTM Sucre 2024</title>
    <meta name='description' content='WTM Sucre 2024' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://wtm.gdgsucre.com/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='WTM Sucre 2024' />
    <meta property='og:description' content='Impacta el Futuro en WTM Sucre 2024' />
    <meta property='og:image' content='https://wtm.gdgsucre.com/opengraph.avif' />
    <meta property='og:image:type' content='image/gif' />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='wtm.gdgsucre.com/' />
    <meta property='twitter:url' content='https://wtm.gdgsucre.com/' />
    <meta name='twitter:title' content='wtm.gdgsucre.com/' />
    <meta name='twitter:description' content='wtm.gdgsucre.com/' />
    <!-- <meta
      name='twitter:image'
      content='https://gdgsucre.com/opengraph.jpg'
    /> -->
  </head>
  <body
    class='absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#D9DBDE_1px,transparent_1px)] [background-size:16px_16px] font-google'
  >
    <slot />
  </body>
</html>
