---
import '@fontsource/prompt'
import '@fontsource/noto-color-emoji'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <!-- HTML Meta Tags -->
    <title>GDG Sucre</title>
    <meta name='description' content='DevFest Sucre 2023' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://gdgsucre.com/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='DevFest Sucre 2023' />
    <meta property='og:description' content='DevFest Sucre 2023 es una conferencia tecnológica global orientada a la comunidad de desarrolladores de Sucre.' />
    <meta
      property='og:image'
      content='https://gdgsucre.com/og.jpg'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='gdgsucre.com' />
    <meta
      property='twitter:url'
      content='https://gdgsucre.com/'
    />
    <meta name='twitter:title' content='GDG Sucre' />
    <meta name='twitter:description' content='Google I/O Sucre 2023' />
    <meta
      name='twitter:image'
      content='https://gdgsucre.com/opengraph.jpg'
    />
  </head>
  <body class='bg-black font-google'>
    <slot />
  </body>
</html>
